/* Author : w1773ND (wilfriedwillend@gmail.com) */


body{ background: url(../../img/tsunami/com_bg_deploy.png) no-repeat center center fixed;
		-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
		background-size: cover;}
button { min-width: 200px }


.container.desktop-landscape{ padding-top: 15vh;}

.error-report { color: #e74c3c }

.navbar-left { display: none !important; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
	body { background: #f8f9fa; }

	.container.desktop-landscape{ display: none !important;}

	.container.mobile-portrait{ display: block !important; margin: 5vh 0 0 !important; padding-top: 5vh !important;}

	label.mobile-adjust { font-size: 4vw !important; }


}

/* Landscape optimisation */
@media only screen and (max-width: 900px) and (orientation: landscape) {

	.container.desktop-landscape{ padding-top: 8vh !important; margin: 0 !important; margin-bottom: 10vh !important;}

	label.mobile-adjust { font-size: 2vw !important; }
}