{% extends 'shopping/optimum/base.html' %}
{% load i18n static humanize user_agents auth_tokens media_from_provider currency cache %}

{% block meta %}
    <meta name="abstract" content="{{ service.project_name }} - {{ config.slogan }}" />
    <meta name="description" content="{{ config.description }}" />
    <meta property="og:title" content="{{ service.project_name }}" />
    <meta property="og:image" content="{% get_media_prefix %}{{ config.logo.name }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:url" content="{{ service.url }}" />
    <meta property="og:site_name" content="{{ service.domain|upper }}" />
{% endblock %}

{% block page_title %}
    <title>{{ service.project_name }} - {{ config.slogan }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'kakocase/css/home_content.css' %}">
    <style>
        .core-slider_item .slide {
            background: center no-repeat;
            background-size: cover;
            width: 100%
        }

        @media (max-width: 400px) {
            .core-slider_item .cta {
                position: absolute;
                margin-top: -55px
            }
        }
        .core-slider_list .button1 {display: block; margin: auto; text-align: center; width: 225px}
        .install-promotion.banner {margin-top: 180px}
    </style>
{% endblock %}

{% block content %}
    {% if not request.COOKIES.install_revoked %}
        {% include 'core/snippets/pwa_promotion/banner.html' %}
    {% endif %}
    {% if user.is_staff %}
        {% include 'shopping/optimum/snippets/home_content.html' %}
    {% else %}
        {% cache 300 home_content %}
            {% include 'shopping/optimum/snippets/home_content.html' %}
        {% endcache %}
    {% endif %}
    {% include 'shopping/snippets/modal_preview.html' %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        (function() {
            var mySwiper = new Swiper ('.swiper-container', {
                // Optional parameters
                direction: 'horizontal',
                loop: false,

                // If we need pagination
                pagination: {
                el: '.swiper-pagination',
                },

                // Navigation arrows
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                },
                autoplay: 5000
            });

            $('.swiper-container').on('mouseenter', function(e){
                console.log('stop autoplay');
                mySwiper.stopAutoplay();
            }).on('mouseleave', function(e){
                console.log('start autoplay');
                mySwiper.startAutoplay();
            })
        })()
    </script>
    <script>
        (function() {
            $('section.product-agile:first').css('background', '#f9f8f8');
            $('section.product-agile:not(:first)').each(function(i) {
                if ((i%2) === 1) $(this).css('background', '#f9f8f8');
            });
            $(".modal-dialog .save").click(function () {
                var email = $('input#email').val()
                if (!email) return false
                var endpoint = "{% url 'sales:save_email' %}";
                var params = {format: 'json', email: email};
                $('body, button').css('cursor','wait');
                $.getJSON(endpoint, params, function(data) {
                    $('body, button').css('cursor','default');
                    if (data.error){

                    } else {
                        $('.save-block').hide()
                        $('.success-panel').show()
                        $('.input-block').hide()
                        ('input#email').val('')
                    }
                });
            });

        })()
    </script>
    {{ config.scripts|safe }}
{% endblock %}