{% extends 'shopping/optimum/base.html' %}
{% load i18n humanize static auth_tokens %}

{% block page_title %}
<title>{% trans 'Your orders history' %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/base.css' %}" />
    <link rel='stylesheet' href="{% static 'kakocase/css/order-history.css' %}?v=19.08.22-06.23" />
    <link rel='stylesheet' href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <div id="stage" style="float: none; margin: auto">
                <div>
                    <div class="text-center hidden-xs">
                        <span class="welcome-title img-circle img-thumbnail" style=" background-image: url({% static 'kakocase/img/order-history2.png' %})"></span>
                    </div>
                    <div class="visible-xs">
                        <span class="welcome-title img-circle img-thumbnail col-xs-offset-1 col-xs-3" style=" background-image: url({% static 'kakocase/img/order-history2.png' %})"></span>
                        <h3 class="subtitle">{% trans 'Orders history' %}</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <h2 class="text-center hidden-xs subtitle">{% trans 'Orders history' %}</h2>
                <div class="col-sm-8 col-sm-offset-2" >
                    <section>
                        <h4>{% trans 'Orders' %}</h4>
                        <div>
                            <label>{% trans 'Count' %}</label>
                            <span class="pull-right {% if not customer.total_orders_count %}text-muted{% endif %}">
                                {% if customer.total_orders_count %}
                                    {{ customer.total_orders_count|intcomma }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </div>
                        <div>
                            <label>{% trans 'Amount' %}</label>
                            <span class="pull-right {% if not customer.total_orders_count %}text-muted{% endif %}">
                                {% if customer.total_orders_count %}
                                    {{ customer.total_turnover|intcomma }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </div>
                        <div>
                            <label>{% trans 'Last' %}</label>
                            <span class="pull-right {% if not customer.total_orders_count %}text-muted{% endif %}">
                                {% if customer.total_orders_count %}
                                    {{ customer.last_payment_on }}
                                {% else %}
                                    &#60;Never&#62;
                                {% endif %}
                            </span>
                        </div>
                    </section>
                    {% if customer.delivery_addresses %}
                        <section id="delivery-addresses">
                            <h4>{% trans 'Delivery Addresses' %}</h4>
                            <ul class="object-list list-group delivery-addresses">
                                {% for address in customer.delivery_addresses %}
                                <li class="ik-li list-group-item" id="address-{{ forloop.counter0 }}" data-address="address-{{ forloop.counter0 }}" data-item="{{ forloop.counter0 }}">
                                    <div class="col-sm-10 address-details">
                                        <div>
                                            {{ address.details }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if address.postal_code %}
                                                {% trans 'P.O BOX:' %} &nbsp;{{ address.postal_code }}
                                            {% endif %}
                                        </div>
                                        {% if address.city and address.country %}
                                            <div style="font-weight: bold;">
                                                {{ address.city }}, {{ address.country }}
                                            </div>
                                        {% endif %}
                                        <div class="text-muted">
                                            {{ address.email }}, {{ address.phone }}
                                        </div>
                                    </div>
                                    <div class="actions col-sm-2">
                                        <i class="fa fa-edit edit" title="{% trans 'Edit' %}"></i>
                                        <i class="glyphicon glyphicon-trash delete" data-action="delete" title="{% trans 'Delete' %}"></i>
                                        <div class="clearfix"></div>
                                    </div>
                                    <form method="post" class="form-group tpl set-address">
                                        {% csrf_token %}
                                        <input type="hidden" name="item" value="{{ forloop.counter0 }}" />
                                        <div>
                                            {% if address.city and address.country  %}
                                                <div class="form-group row">
                                                    <label for="country" class="col-sm-4 col-md-3">{% trans "Country" %}</label>
                                                    <div class="col-sm-7 col-md-7">
                                                        <select id="country" class="form-control required" name="country_iso2">
                                                            {% for country in countries %}
                                                            <option class="entry" value="{{ country.iso2 }}">{% trans country.name %}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="city" class="col-sm-4 col-md-3">{% trans "City" %}</label>
                                                    <div class="col-sm-7 col-md-7">
                                                        <input id="city" class="form-control required" type="text" name="city" {% if address.city %}value="{{ address.city }}" {% endif %}/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="details" class="col-sm-4 col-md-3">{% trans "Address" %}</label>
                                                    <div class="col-sm-7 col-md-7">
                                                        <input id="details" class="form-control required" type="text" name="details" {% if address.details %}value="{{ address.details }}" {% endif %} />
                                                    </div>
                                                </div>
                                                {% if config.is_pro_version %}
                                                    <div class="form-group row">
                                                        <label for="postal-code"
                                                               class="col-sm-4 col-md-3">{% trans "Postal Code" %}</label>
                                                        <div class="col-sm-7 col-md-7">
                                                            <input id="postal-code" class="form-control required" type="text"
                                                                   name="postal_code" {% if address.postal_code %}{{ address.postal_code }}{% endif %}/>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="form-group row">
                                                <label for="phone" class="col-sm-4 col-md-3">{% trans "Phone" %}</label>
                                                <div class="col-sm-7 col-md-7">
                                                    <input id="phone" class="form-control required" type="text" name="phone" value="{{ user.phone }}" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-md-3">Email</label>
                                                <div class="col-sm-7 col-md-7">
                                                    <input id="email" class="form-control required" type="text" name="email" value="{{ user.email }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-5 col-md-4 col-sm-offset-5 col-md-offset-6">
                                                    <button  class="btn btn-secondary cta cancel">
                                                            {% trans "Cancel" %}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-5 col-md-4 col-sm-offset-5 col-md-offset-6">
                                                    <button type="submit" class="btn btn-warning cta save">
                                                            {% trans "Save" %}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="clearfix"></div>
                        </section>
                    {% endif %}
                    {% if order_history_list|length > 0 %}
                        <section>
                            <h4>{% trans "History" %}</h4>
                            <ul class="object-list list-group">
                                {% for order in order_history_list %}
                                {% url 'shopping:cart' order.id as obj_url %}
                                <li class="ik-li list-group-item" id="{{ order.id }}" data-id="{{ order.id }}">
                                    <a href="{{ obj_url }}" target="_blank">{{ order|upper }}</a>
                                    <div class="pull-right text-muted">
                                        {{ order.created_on|date }}
                                    </div>
                                    <div>
                                        <span class="pull-left">
                                            <strong>{{ order.get_products_as_string }}</strong>
                                        </span>
                                        <span class="pull-right">
                                            <span class="text-muted" style="font-size: .8em">{{ order.currency }}</span>
                                            <strong>{{ order.total_cost|intcomma }}</strong>
                                        </span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="clearfix"></div>
                        </section>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            $('body').on('click', '.edit', (e) => {
                let $parent = $(e.target).parents('.ik-li'),
                    _address = $parent.data('address'),
                    _ik_li = `.delivery-addresses .ik-li#${_address}`;
                $(`.delivery-addresses .ik-li:not(#${_address}),  ${_ik_li} .address-details,  ${_ik_li} .actions`).hide();
                $parent.find('form.set-address').show();

            }).on('click', '.delete', (e) => {
                let params = {
                    'item': $(e.target).parents('.ik-li').data('item'),
                    'action': $(e.target).data('action')
                }, $parent=$(e.target).parents('.ik-li');
                $.getJSON('', params, (data) => {
                    if(data.success) {
                        $parent.remove();
                        reIndex();
                        ikwen.showFloatingNotice("Address removed", 2000);
                    }
                });
                function reIndex(){
                    let liArray = $("[id^='address-']").toArray();
                    $.each(liArray, (index, element) => {
                        $(element).attr({'id': 'address-' + index, 'data-address': 'address-' + index, 'data-item': index});
                    });
                    if (liArray.length === 0)
                        $('#delivery-addresses').remove();

                }
            });
        })()
    </script>
{% endblock %}
