{% extends 'shopping/optimum/base.html' %}
{% load i18n static humanize user_agents media_from_provider currency cache %}

{% block meta %}
    {% if obj_group %}
        <meta name="abstract" content="{{ page_title }} - {{ service.project_name }}"/>
        <meta name="description" content="{{ obj_group.description }}"/>
        <meta property="og:title" content="{{ obj_group.name }} - {{ service.project_name }}"/>
        <meta property="og:description" content="{{ obj_group.description }}"/>
        <meta property="og:image" content="{% get_media_prefix %}{{ obj_group.image.name }}"/>
        <meta property="og:site_name" content="{{ service.domain|upper }}" />
    {% endif %}
{% endblock %}

{% block page_title %}
    <title>{{ page_title }} - {{ service.project_name }}</title>
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'kakocase/css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kakocase/css/product-list.css' %}">
    <style>
        {% if object_id %}
            li#id-{{ object_id }} a {color: #F44336; font-weight: 700}
        {% endif %}
    </style>
{% endblock %}

{% block content %}
    {% cache template_cache_duration product_list_content category.slug smart_object.slug request.GET.q %}
    <div id="content" class="content">
        <div class="container-fluid visible-xs filter-container">
            <div class="top-filter">
                <div class="filter">
                    <i class="fa fa-filter" aria-hidden="true" style="line-height: .4em; margin-top: 10px"></i>
                    <span>{% trans "Filter" %}</span>
                </div>
                <div class="sort">
                    <ul id="sort-menu">
                        <li class="dropdown">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-sort-amount-desc" aria-hidden="true"  style="line-height: .4em; margin-top: 10px"></i>
                                <span>{% trans "Sort" %}</span>
                            </a>
                            <input type="hidden" class="chosen-criterion">
                            <ul class="dropdown-menu criteria" aria-labelledby="filter-menu">
                                <li class="sort-item" value="-updated_on" data-sort-by="-updated_on"><i class="fa fa-arrows-v" aria-hidden="true" style="line-height: .4em; margin-top: 10px; margin-right: 12px"></i> {% trans "Most recent" %}</li>
                                <li class="sort-item"  value="name" data-sort-by="name"><i class="fa fa-sort-alpha-asc" aria-hidden="true" style="line-height: .4em; margin-top: 10px; margin-right: 12px"></i> {% trans "Name" %}</li>
                                {% if config.show_prices %}
                                <li class="sort-item"  value="retail_price" data-sort-by="retail_price"><i class="fa fa-sort-numeric-asc" aria-hidden="true" style="line-height: .4em; margin-top: 10px; margin-right: 12px"></i> {% trans "Price" %}</li>
                                 {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="price-filter is-off">
                {% if config.show_prices and min_price >= 0 and max_price %}
                    <div class="price">
                        <div id="price-range" style=""></div>
                        <input type="text" id="amount" style="border: 0; color: #000; font-weight: normal;" />
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="products-agileinfo">
            <div class="container">
            {% if request.GET.q %}
                <h3 class="text-muted">{% trans "Search" %}: <strong>{{ request.GET.q }}</strong></h3>
            {% else %}
                <h2 class="title">{{ page_title }}</h2>
            {% endif %}
                <div class="product-agileinfo-grids w3l">
                    <div id="menu-panel" class="col-sm-3 hidden-xs hidden-sm">
                        {% if config.show_prices and min_price >= 0 and max_price %}
                            <div class="price">
                                <h3>{% trans "Prices" %}</h3>
                                <ul class="dropdown-menu6">
                                    <li>
                                        <div id="price-range1" style="margin-top: 2em"></div>
                                        <input type="text" id="amount1" style="border: 0; color: #ffffff; font-weight: normal;" />
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        <div class="top-rates ">
                            <h3>{% trans "Most popular" %}</h3>
                            {% for product in top_products %}
                                {% url 'shopping:product_detail' product.category.slug product.slug as product_url %}
                                <div style="margin-bottom: 20px">
                                    <div class="recent-left">
                                        <a href="{{ product_url }}">
                                            <img class="img-responsive " src="{{ product.image.small_url|from_provider:product.provider }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2">
                                            <a href="{{ product_url }}">{{ product.name }}</a>
                                        </h6>
                                        {% if config.show_prices %}
                                            <p>
                                                {% if config.auto_manage_sales and product.on_sale %}
                                                    <del>{{ CURRENCY.symbol }} {{ product.previous_price|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</del>
                                                {% endif %}
                                                <em class="item_price">{{ CURRENCY.symbol }} {{ product.retail_price|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</em>
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="product-stage" class="col-sm-12 col-md-9">
                        {% if content_type == 'Categories' %}
                            {% for row in category_list_as_matrix %}
                                <div class="caption">
                                    {% for category in row %}
                                        <div class="col-md-6 latest-grid">
                                            <div class="latest-top">
                                                {% url 'shopping:product_list' category.slug as product_list_url %}
                                                <a href="{{ product_list_url }}" class="category-tile">
                                                    <img src="{% get_media_prefix %}{{ category.image.name }}" class="img-responsive"  alt="">
                                                    <div class="latest-text">
                                                        <h4>{{ category.name }}</h4>
                                                    </div>
                                                    {% if category.badge_text %}
                                                        <div class="latest-text2 hvr-sweep-to-top">
                                                            <h4>{{ category.badge_text }}</h4>
                                                        </div>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="clearfix"></div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% include 'core/snippets/spinner.html' %}
                            <div id="product-results">
                                {% include 'shopping/snippets/product_list_results.html' %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="clearfix"> </div>
                    <div id="menu-panel" class="col-md-3 visible-xs visible-sm">
                        <div class="top-rates">
                            <h3>{% trans "Most popular" %}</h3>
                            {% for product in top_products %}
                                {% url 'shopping:product_detail' product.category.slug product.slug as product_url %}
                                <div class="col-sm-6" style="margin-bottom: .6em">
                                    <div class="recent-left">
                                        <a href="{{ product_url }}">
                                            <img class="img-responsive " src="{{ product.image.small_url|from_provider:product.provider }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                    <div class="recent-right">
                                        <h6 class="best2">
                                            <a href="{{ product_url }}">{{ product.name }}</a>
                                        </h6>
                                        {% if config.show_prices %}
                                            <p>
                                                {% if config.auto_manage_sales and product.on_sale %}
                                                    <del>{{ CURRENCY.symbol }} {{ product.previous_price|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</del>
                                                {% endif %}
                                                <em class="item_price">{{ CURRENCY.symbol }} {{ product.retail_price|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</em>
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'shopping/snippets/modal_preview.html' %}
    {% endcache %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'ikwen/js/jquery-ui.js' %}"></script>
    <script>
        (function() {
            $('.chosen-criterion').val('-updated_on')
            var screenWidth = $(window).width();
            if (screenWidth < 415) {
                $('#menu-panel').remove().insertAfter('#product-stage')
            }
            if (screenWidth <= 435) {
                {% if min_price >= 0 and max_price %}
                    $("#price-range").slider({
                        range: true,
                        values: [{{ min_price }}, {{ max_price }}],
                        min: {{ min_price }} -20,
                        max: {{ max_price }} +20,
                        slide: function (event, ui) {
                            var v0 = (ui.values[0] * {{ CURRENCY.factor }}).formatMoney(),
                                    v1 = (ui.values[1] * {{ CURRENCY.factor }}).formatMoney();
                            $("#amount").val('{{ CURRENCY.symbol }}' + v0 + " - {{ CURRENCY.symbol }}" + v1);
                        },
                        change: loadResults
                    });
                    var rangeVal = "{{ CURRENCY.symbol }}{{ min_price|currency:CURRENCY.code|floatformat:"0"|intcomma }} - {{ CURRENCY.symbol }}{{ max_price|currency:CURRENCY.code|floatformat:"0"|intcomma }}";
                    $("#amount").val(rangeVal);
                {% endif %}
            }else {
                 {% if min_price >= 0 and max_price %}
                    $("#price-range1").slider({
                        range: true,
                        values: [{{ min_price }}, {{ max_price }}],
                        min: {{ min_price }} -20,
                        max: {{ max_price }} +20,
                        slide: function (event, ui) {
                            var v0 = (ui.values[0] * {{ CURRENCY.factor }}).formatMoney(),
                                    v1 = (ui.values[1] * {{ CURRENCY.factor }}).formatMoney();
                            $("#amount1").val('{{ CURRENCY.symbol }}' + v0 + " - {{ CURRENCY.symbol }}" + v1);
                        },
                        change: loadResults
                    });
                    var rangeVal = "{{ CURRENCY.symbol }}{{ min_price|currency:CURRENCY.code|floatformat:"0"|intcomma }} - {{ CURRENCY.symbol }}{{ max_price|currency:CURRENCY.code|floatformat:"0"|intcomma }}";
                    $("#amount1").val(rangeVal);
                {% endif %}
            }

            $('#product-results').on('change', '.order-by', loadResults)
                    .on('click', '.pagination li', function() {
                        $('.pagination li').removeClass('active');
                        $(this).addClass('active');
                        loadResults();
                    });
            $(".criteria li").click(function () {
                var  orderBy = $(this).data('sort-by')
                $('.chosen-criterion').val(orderBy)
                loadResults()
            });

            function loadResults() {
                var params = 'format=html_results'
                if (screenWidth <= 435)
                    var range = $("#price-range").slider("values");
                else
                    range = $("#price-range1").slider("values");
                if (range) {
                    params += '&min_price=' + range[0] + '&max_price=' + range[1];
                }
                var winWidth = $(window).width();
                var order_by = $('div#product-results .order-by').val();
                if (winWidth < 768) {
                    order_by = $('.chosen-criterion').val()
                }
                var currentPage = $('.pagination li.active').data('val')
                    params += '&page=' + currentPage + '&order_by=' + order_by;

                var query = '{{ request.META.QUERY_STRING|safe }}' ;
                if (query) query += '&' + params;
                else query = params;

                $('div#product-stage .spinner').fadeIn();
                $('#product-results').load('{{ request.path }}', query, function() {
                    $('div#product-stage .spinner').fadeOut();
                    $('div#product-results .order-by').val(order_by);
                });
            }

            $(".top-filter .filter").click(function () {
                if ($(this).hasClass('is-active')){
                    $(this).removeClass("is-active")
                    $(".filter-container .price-filter").addClass('is-off')
                }else {
                    $(this).addClass("is-active")
                    $(".filter-container .price-filter").removeClass('is-off')
                }
            })
        })()
    </script>
    {{ config.scripts|safe }}
{% endblock %}