{% extends 'kakocase/welcome/base.html' %}
{% load i18n static %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "tsunami/img/favicon_Tsunami.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/tsunami/" />
    <meta property="og:image" content="{% static 'tsunami/img/Logo-IKWEN-Tsunami_og.png' %}" />
    <meta property="og:title" content="{% trans "ikwen TSUNAMI, the cloud tools your business needs" %}"/>
    <meta property="og:description" content="{% trans "Reach more customers and sell all your stocks with Tsunami" %}">
    <meta property="description" content="{% trans "Reach more customers and sell all your stocks with Tsunami" %}" />
{% endblock %}

{% block page_title %}
    <title>{{ service.project_name }} - Welcome</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!--Conditional custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'kakocase/css/welcome/'%}other.css">
    <link rel="stylesheet" type="text/css" href="{% static 'kakocase/css/welcome/'%}{{ business_category }}.css">
{% endblock %}

{% block header_brand %}
{% endblock %}

{% block content %}
    <div class="container" style="font-family: Lato">
        <div class="container desktop-landscape">
			<div class="row">
				<div class="col-sm-5 col-xs-5 textBox landscape">
                    {% blocktrans with project_name=service.project_name %}
					<h3>{{ project_name }} Community</h3>
					<p>
                        Welcome to {{ project_name }} community !<br>
                        Hurry up and <i>Join</i>. You will receive tons of exclusive gifts
                        It is simple and totally free ...
					</p>
                    {% endblocktrans %}
					<div>
						<a href="http://ikwen.com?join={{ service.project_name_slug }}" class="btn btn-outline" style="min-width: 200px; margin-top: 15px; ">
                            <img src="http://static.ikwen.com/ikwen/img/Join_button_white.svg" height="15" style="margin: -4px 5px 0 0">
                            Join
                        </a>
					</div>
				</div>
			</div>
		</div>
		<div class="container mobile-portrait" style="display: none">
			<div class="row">
				<div class="textBox portrait">
                    {% blocktrans with project_name=service.project_name %}
					<h3>{{ project_name }} Community</h3>
					<p>
                        Welcome to {{ project_name }} community !<br>
                        Hurry up and <i>Join</i>. You will receive tons of exclusive gifts
                        It is simple and totally free ...
					</p>
                    {% endblocktrans %}
					<div class="text-center">
						<a href="http://ikwen.com?join={{ service.project_name_slug }}" class="btn btn-outline" style="min-width: 200px; margin-top: 15px; ">Join</a>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}