{% load i18n staticfiles humanize auth_tokens %}
<div class="size-quantity">
    {% if size_list|length > 1 %}
        <div class="size-list">
            <h6 style="margin-top: 5px">{% trans "Size" %} </h6>
            <div class="size-radios">{% include 'shopping/snippets/product_size_radios.html' %}</div>
            <span class="hidden item_size">{% if size_list|length == 1 %}{{ size_list.0.label }}{% endif %}</span>
            <div class="clearfix"></div>
        </div>
    {% else %}
        <span class="hidden item_size">-------</span>
    {% endif %}
    <div class="qty-select">
        <h6>
            {% trans "Quantity" %} :
            {% if product.min_order > 1 %}<span class="min-order">({% trans "Min. order" %}: {{ product.min_order }})</span>{% endif %}
        </h6>
        <div class="quantity">
            <div class="quantity-select">
                <div class="entry value-minus1" data-min="{{ product.min_order }}">&nbsp;</div>
                <div class="entry value1 item_quantity"><span>{{ product.min_order }}</span></div>
                <div class="entry value-plus1 active" data-max="{{ product.stock }}">&nbsp;</div>
            </div>
        </div>
    </div>
</div>