{% load humanize currency %}
{% for size in size_list %}
    <span class="choose-size">
        <span class="radio">
            <label>
                <input type="radio" name="size" value="{{ size.label }}" data-id="{{ size.id }}"
                       data-retail_price="{{ size.retail_price|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}"
                       data-stock="{{ size.stock }}" {% if size_list|length == 1 %}checked{% endif %}/> {{ size.label }}
            </label>
        </span>
    </span>
{% endfor %}