{% extends 'core/change_object_base.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title> {% if category %}{{ category }}{% else %}{% trans "New category" %}{% endif %} - {{ service.project_name }} </title>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% url 'kako:category_list' as category_list_url %}
        <a href="{{ category_list_url }}">{% trans "Categories" %}</a>
    </li>
    {% if category %}
        <li>{{ category.name }}</li>
    {% else %}
        <li>{% trans 'New' %}</li>
    {% endif %}
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            {% url 'kako:change_category' as change_category_url %}
            {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
            <form id="submit-category" class="admin-form" method="post">{% csrf_token %}
                <input type="hidden" name="image" id="image_url" value="" />
                {% include 'core/snippets/model_admin_form.html' %}
                <section class="photos col-sm-4 col-lg-3">
                    <label class="required" style="float: left; width: 100%">{% trans "Cover image" %}</label>
                    <div id="upload-container">
                        {% if category.image and category.image.name %}
                        <div class="image" style="background-image: url('{{ category.image.url }}')">
                        {% else %}
                        <div class="image">
                        {% endif %}
                            <span class="progress"></span>
                            <div class="uploader"></div>
                            {% include 'core/snippets/spinner.html' %}
                        </div>
                    </div>
                    <p class="help clear">{% trans "Nice cover photo to help customer have an idea" %} (640px &times; 420px)</p>
                </section>
                <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                    <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}"></script>
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .categories').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
            $('form#submit-category').on('change', 'input, textarea', function() {
                let category = getLocalCategory();
                localStorage.setItem('category', JSON.stringify(category));
            }).submit(function() {
                let isCorrect = checkInput();
                if (isCorrect) localStorage.removeItem('category');
                return isCorrect;
            });
            let pageLoading = true,
                category;
            function getLocalCategory() {
                category = localStorage.getItem('category') ? JSON.parse(localStorage.getItem('category')):{};
                if (pageLoading) {
                    // Do not override locally saved category with form data upon page loading
                    pageLoading = false;
                    return category
                }
                let categoryAsArray = $('form#submit-category').serialize().split('&');
                for (let i=0; i<categoryAsArray.length; i++) {
                    let elt = categoryAsArray[i].split('=');
                    category[elt[0]] = decodeURIComponent(elt[1]).replace(/\+/g, ' ');
                }
                return category
            }
            function checkInput() {
                let check = true;
                $('input.required').each(function() {
                    if (!(this).val()) {
                        ikwen.showFloatingNotice("{% trans "Missing information. Please check." %}", '', 6);
                        $(this).addClass('verify');
                        check = false;
                    }
                });
                let img = $('#image_url').val();
                if (!img) {
                    return confirm("{% trans "Categories look better with image. Continue without it ?" %}");
                }
                return check;
            }
            let uploader = new qq.FileUploader({
                action: "{% url 'ikwen:upload_image' %}",
                element: $('div#upload-container .uploader')[0],
                buttonText: "{% trans "Upload cover" %}",
                multiple: false,
                onProgress: function(id, fileName, loaded, total) {
                    let ratio = loaded / total,
                        percent = ratio * 100;
                    $('div#upload-container .image .progress').animate({width: percent + '%'});
                },
                onComplete: function(id, fileName, responseJSON) {
                    if(responseJSON.success) {
                        let imageUrl = responseJSON.path,
                            img = new Image(),
                            category = getLocalCategory();
                        $('div#upload-container .image .spinner').show();
                        img.onload = function() {
                            $('div#upload-container .image').css('background-color', "#fff")  // Causes the placeholder image to disappear
                                    .css('background-image', "url('" + imageUrl +"')")
                                    .find('.progress, .spinner').hide();
                        };
                        img.src = imageUrl;
                        category.image_url = imageUrl;
                        $('#image_url').val(imageUrl);
                        localStorage.setItem('category', JSON.stringify(category));
                    } else if (responseJSON.wrong_size) {
                            ikwen.showNoticeDialog('error', "{% trans "Incorrect image size" %}", responseJSON.error)
                    } else {
                        alert("upload failed!");
                    }
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken',
                    'model_name': '{{ model }}',
                    'object_id': '{% if obj.id %}{{ obj.id }}{% endif %}',
                    'required_width': 640,
                    'required_height': 420
                }
            });
            {% if category %}
                {% if category.image.name  %}
                    $('#image_url').val("{{ category.image.url }}");
                {% endif %}
                localStorage.removeItem('category');
            {% else %}
                category = getLocalCategory();  // Category from an unterminated submit
                if (category) {
                    $('#id_name').val(category.name);
                    $('#id_description').val(category.description);
                    $('#image_url').val(category.image_url);
                    $('#id_is_active').prop('checked', category.is_active);
                    $('div#upload-container .image').css('background-image', "url('" + category.image_url +"')");
                }
            {% endif %}
        })()
    </script>
{% endblock %}
