{% extends 'core/app_base_admin.html' %}
{% load i18n humanize static auth_tokens media_from_provider %}

{% block page_title %}
<title> {% if promotion %}{{ promotion }}{% else %}{% trans "New promotion" %}{% endif %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'kakocase/css/jquery.datetimepicker.css' %}"/>
    <style>
        .verify {border: 1px solid #e74c3c}
        #promotion-sharing .social-media {margin-bottom: 10px}
        @media (max-width: 767px) {
            #promotion-sharing .social-media {text-align: center}
        }
    </style>
{% endblock %}


{% block breadcrumb_location %}
    <li>{% url 'sales:promotion_list' as promotion_list_url %}
        <a href="{{ promotion_list_url }}">{% trans "Promotions" %}</a>
    </li>
    {% if promotion %}
        <li>{{ promotion.title }}</li>
    {% else %}
        <li>{% trans 'New' %}</li>
    {% endif %}
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            {% url 'sales:change_promotion' as change_promotion_url %}
            {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
{#            <form id="submit-promotion" class="admin-form" method="post" action="{{ change_promotion_url }}">{% csrf_token %}#}
            <form id="submit-promotion" class="admin-form" method="post" action="{{ change_promotion_url }}">{% csrf_token %}
                <input type="hidden" name="promotion_id" value="{{ promotion.id }}" />
                {% include 'core/snippets/model_admin_form.html' %}
                <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                    <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
{#    {% if promotion %}<script src="https://apis.google.com/js/platform.js" async defer></script>{% endif %}#}
    <script src="{% static 'kakocase/js/jquery.datetimepicker.full.js' %}"></script>
    <script type="text/javascript">
        (function() {

            $('#id_start_on').datetimepicker({
                format:	'Y-m-d H:i',
                formatTime:	'H:i',
                formatDate:	'Y-m-d',
                defaultTime:'00:00',
                timepickerScrollbar:false
            });
            $('#id_end_on').datetimepicker({
                format:	'Y-m-d H:i',
                formatTime:	'H:i',
                formatDate:	'Y-m-d',
                defaultTime:'23:59',
                timepickerScrollbar:false
            });
            $('div#admin-nav .promotion').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
{#            {% if settings.IS_PROVIDER %}#}

                {% if error %}
                    ikwen.showFloatingNotice("{{ error }}", '', 6);
                {% endif %}

                $('form#submit-promotion').on('change', 'input, textarea', function() {
                    var promotion = getLocalpromotion();
                    localStorage.setItem('promotion', JSON.stringify(promotion));
                }).submit(function() {
                    return checkInput();
                });
                var pageLoading = true,
                    promotion;
                function getLocalpromotion() {
                    promotion = localStorage.getItem('promotion') ? JSON.parse(localStorage.getItem('promotion')):{};
                    if (pageLoading) {
                        // Do not override locally saved promotion with form data upon page loading
                        pageLoading = false;
                        return promotion
                    }
                    var photos = [];
                     //Keep a copy of photos objects
                    var promotionAsArray = $('form#submit-promotion').serialize().split('&');
                    for (var i=0; i<promotionAsArray.length; i++) {
                        var elt = promotionAsArray[i].split('=');
                        promotion[elt[0]] = decodeURIComponent(elt[1]).replace(/\+/g, ' ');
                    }
                    return promotion
                }
                function checkInput() {
                    var check = true;
                    $('input.required').each(function() {
                        if (!(this).val()) {
                            ikwen.showFloatingNotice("{% trans "Missing information. Please check." %}", '', 6);
                            $(this).addClass('verify');
                            check = false;
                        }
                    });
                    return check;
                }

                {% if promotion %}
                    localStorage.removeItem('promotion');
                {% else %}
                    promotion = getLocalpromotion();  // Post from an unterminated submit
                    if (promotion) {
                        $('#id_promotion').val(promotion.promotion_id);
                        $('#id_title').val(promotion.title);
                        $('#id_start_on').val(promotion.start_on);
                        $('#id_end_on').val(promotion.end_on);
                        $('#id_rate').val(promotion.rate);
                        $('#id_item').val(promotion.item);
                        $('#id_category').val(promotion.category);
                        $('#id_is_active').val(promotion.is_active);
                    }
                {% endif %}
                {% if request.GET.name %}
                    $('#id_title').val("{{ request.GET.name }}");
                {% endif %}
{#            {% endif %}#}
        })()
    </script>
{% endblock %}
