{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Saved emails" %} - {{ service.project_name }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'kakocase/css/admin.css' %}" />
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Saved emails" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <div id="admin-tools" class="ceil bottom-shade-xs">
                <button class="btn btn-sm btn-success cta pull-right action export" style="border-color: #18bc9c"
                        data-toggle="modal" data-target="#load-product" title="{% trans "Export as Spreadsheet" %}">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <span class="hidden-xs">{% trans "Export" %}</span>
                </button>
                <div class="clearfix"></div>
            </div>
            <div id="results" style="clear: both">
                {% include 'core/snippets/spinner.html' %}
                {% include 'sales/snippets/email_list_results.html' %}
            </div>
        </div>
    </div>
{% endblock %}

