{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Promo codes" %} - {{ service.project_name }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'kakocase/css/admin.css' %}" />
    <style>
        .ik-li.product .about p {margin-bottom: 0}
        .ik-li.product .about p strong {padding-left: 10px}
        .ik-li.product .about .provider {font-size: .9em}
        .ik-li.product .actions .glyphicon-edit:not(.edit) {color: #ddd}
        #results .spinner {padding-top: 8%; position: fixed; right: 0; top: 0}
        @media (min-width: 768px) {
            #admin-tools + #results {margin-top: 45px}
            #results .spinner {padding-top: 10%}
        }
        @media (min-width: 992px) {
            #results .spinner {padding-top: 12%}
        }
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Coupons" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <div id="admin-tools" class="ceil bottom-shade-xs">
                <form id="context-search" onsubmit="return false">
                    <div>
                        <i class="glyphicon glyphicon-search"></i>
                        <i class="glyphicon glyphicon-menu-left hide-search back"></i>
                        <input type="text" class="form-input input-sm" placeholder="{% trans "Search coupon" %}"/>
                    </div>
                </form>
            </div>
            <div id="results">
                {% include 'core/snippets/spinner.html' %}
                {% include 'sales/snippets/promo_code_list_results.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .products').addClass('active');
            ikwen.deleteEndpoint = "{% url 'sales:delete_promo_object' %}";
            $('#admin-content').on('click', '.product .active.on', function() {
                var promoCodeId = $(this).parents('.product').data('id');
                $(this).toggleClass('on off');
                $.getJSON('{% url 'sales:toggle_object_attribute' %}', {'object_id': promoCodeId, 'attr': 'is_active', 'val': true})
            }).on('click', '.product .active.off', function() {
                var promoCodeId = $(this).parents('.product').data('id');
                $(this).toggleClass('on off');
                $.getJSON('{% url 'sales:toggle_object_attribute' %}', {'object_id': promoCodeId, 'attr': 'is_active', 'val': false})
            })

        })()
    </script>
{% endblock %}
