{% extends 'core/dashboard_base.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block head_js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            google.charts.load('current', {'packages': ['line', 'corechart']});

            $(document).on('ready', () => {
                google.charts.setOnLoadCallback(drawTopCategoriesChart);
                google.charts.setOnLoadCallback(drawTopCustomersChart);
                google.charts.setOnLoadCallback(drawTopProductsChart);
                google.charts.setOnLoadCallback(drawTopDarasChart)
            });
            $(window).resize('resize', () => {
                google.charts.setOnLoadCallback(drawTopCategoriesChart);
                google.charts.setOnLoadCallback(drawTopCustomersChart);
                google.charts.setOnLoadCallback(drawTopProductsChart);
                google.charts.setOnLoadCallback(drawTopDarasChart);
            });

            function drawTopCategoriesChart(){
                let values, data, chart, category_total;
                {% for period, data in categories_report.items %}
                     values = [['Category name', 'Earnings']];
                    {% if data and data.0.total > 0 %}
                        {% for category in data|slice:"5" %}
                            {% if category.total > 0 %}
                                category_total = "{{ category.total }}".replace('{{ settings.DECIMAL_SEPARATOR }}', '.');
                                values.push(["{{ category.name }}", parseFloat(category_total)]);
                            {% endif %}
                        {% endfor %}
                        data = google.visualization.arrayToDataTable(values);
                        chart = new google.visualization.PieChart(document.getElementById('{{ period }}-top-categories-chart'));
                        chart.draw(data);
                    {% endif %}
                {% endfor %}
            }

            function drawTopProductsChart() {
               let values, data, chart;
                {% for period, data in products_report.items %}
                     values = [['Product name', 'Units ordered']];
                    {% if data and data.0.total > 0 %}
                        {% for product in data|slice:"5" %}
                            {% if product.total > 0 %}
                                values.push(["{{ product.name }}" + "{% if product.size %}('{{ product.size }}'){% endif %}", {{ product.total }}]);
                            {% endif %}
                        {% endfor %}
                        data = google.visualization.arrayToDataTable(values);
                        chart = new google.visualization.PieChart(document.getElementById('{{ period }}-top-products-chart'));
                        chart.draw(data);
                    {% endif %}
                {% endfor %}
            }

            function drawTopCustomersChart() {
                let values, data, chart, customer_total;
                {% for period, data in customers_report.items %}
                     values = [['Customer name', 'Earnings']];
                    {% if data and data.0.total > 0 %}
                        {% for customer in data|slice:"5" %}
                            {% if customer.total > 0 %}
                                customer_total = "{{ customer.total }}".replace('{{ settings.DECIMAL_SEPARATOR }}', '.');
                                values.push(["{{ customer.member.full_name }}", parseFloat(customer_total)]);
                            {% endif %}
                        {% endfor %}
                        data = google.visualization.arrayToDataTable(values);
                        chart = new google.visualization.PieChart(document.getElementById('{{ period }}-top-customers-chart'));
                        chart.draw(data);
                    {% endif %}
                {% endfor %}
            }

            function drawTopDarasChart() {
                let values, data, chart, dara_total;
                {% for period, data in daras_report.items %}
                    values = [['Dara name', 'Earnings']];
                    {% if data and data.0.total > 0 %}
                        {% for dara in data|slice:"5" %}
                            {% if dara.total > 0 %}
                                dara_total = "{{ dara.total }}".replace('{{ settings.DECIMAL_SEPARATOR }}', '.');
                                values.push(["{{ dara.member.full_name }}", parseFloat(dara_total)]);
                            {% endif %}
                        {% endfor %}
                        data = google.visualization.arrayToDataTable(values);
                        chart = new google.visualization.PieChart(document.getElementById('{{ period }}-top-daras-chart'));
                        chart.draw(data);
                    {% endif %}
                {% endfor %}
            }
        })()
    </script>
{% endblock %}

{% block performances %}
    <h5 class="section-title perf">
        <div>
            <span style="float: left">{% trans "Performances" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</span>
            <div class="dropdown" style="cursor: pointer; float: left; margin-left: 15px">
                <span class="dropdown-toggle" id="period" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="target">{% trans "Today" %}</span>
                    <span class="caret"></span>
                </span>
                <ul id="performances-period" class="dropdown-menu" aria-labelledby="period">
                    <li data-target="today" style="display: none"><a>{% trans "Today" %}</a></li>
                    <li data-target="yesterday"><a>{% trans "Yesterday" %}</a></li>
                    <li data-target="last_week"><a>{% trans "Last week" %}</a></li>
                    <li data-target="last_28_days"><a>{% trans "Last 28 days" %}</a></li>
                </ul>
            </div>
        </div>
        <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
    </h5>
    <div class="row performances" style="clear: both">
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Orders" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div style="margin:3vh 0">
                    <div style="margin-bottom: 20px;">
                        <em class="report today">{{ orders_report.today.count|intcomma }}</em>
                        <em class="report yesterday tpl">{{ orders_report.yesterday.count|intcomma }}</em>
                        <em class="report last_week tpl">{{ orders_report.last_week.count|intcomma }}</em>
                        <em class="report last_28_days tpl">{{ orders_report.last_28_days.count|intcomma }}</em>
                    </div>
                    <div id="transactions-count-chart" class="line-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "AEPO" %} <i class="text-muted">({% trans "Avg. Earning Per Order" %})</i></h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div style="margin:3vh 0">
                    <div style="margin-bottom: 20px;">
                        <em class="report today">{{ CRNCY.symbol }} {{ orders_report.today.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                        <em class="report yesterday tpl">{{ CRNCY.symbol }} {{ orders_report.yesterday.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                        <em class="report last_week tpl">{{ CRNCY.symbol }} {{ orders_report.last_week.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                        <em class="report last_28_days tpl">{{ CRNCY.symbol }} {{ orders_report.last_28_days.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                    </div>
                    <div id="arpt-chart" class="line-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row performances" style="clear: both">
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Top categories" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div class="th">
                    <span style="float: left">{% trans "Category" %}</span>
                    <span title="Estimated earnings" style="float: right">
                        {% trans "Earnings" %}
                        <span class="text-muted" style="font-weight: 400">({{ CRNCY.code }})</span>
                    </span>
                </div>
                {% for period, data in categories_report.items %}
                    <ul class="report ranking {{ period }}{% if period != 'today' %} tpl{% endif %}">
                        {% if data and data.0.total > 0 %}
                            {% for category in data|slice:"5" %}
                                {% if category.total > 0 %}
                                    <li>
                                        <span>{{ category.name }}</span> <span>{{ category.total|floatformat:CRNCY.precision|intcomma }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="empty">{% trans 'Not enough data' %}</li>
                        {% endif %}
                    </ul>
                    {% if data and data.0.total > 0 %}
                        <div id="{{ period }}-top-categories-chart" class="pie-chart {{ period }}-pie-chart{% if period != 'today' %} tpl{% endif %}"></div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Top products" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div class="th">
                    <span style="float: left">{% trans "Product" %}</span>
                    <span title="Estimated earnings" style="float: right">{% trans "Units ordered" %}</span>
                </div>
                {% for period, data in products_report.items %}
                    <ul class="report ranking {{ period }}{% if period != 'today' %} tpl{% endif %}">
                        {% if data and data.0.total > 0 %}
                            {% for product in data|slice:"5" %}
                                {% if product.total > 0 %}
                                    <li>
                                        <span>{{ product.name }}{% if product.size %}({{ product.size }}){% endif %}</span>
                                        <span>{{ product.total|floatformat:CRNCY.precision|intcomma }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="empty">{% trans 'Not enough data' %}</li>
                        {% endif %}
                    </ul>
                    {% if data and data.0.total > 0 %}
                        <div id="{{ period }}-top-products-chart"
                             class="pie-chart {{ period }}-pie-chart {% if period != 'today' %}tpl{% endif %}"></div>
                    {% endif %}
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row performances" style="clear: both">
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Top customers" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div class="th">
                    <span style="float: left">{% trans "Customer" %}</span>
                    <span title="Estimated earnings" style="float: right">
                        {% trans "Earnings" %}
                        <span class="text-muted" style="font-weight: 400">({{ CRNCY.code }})</span>
                    </span>
                </div>
                {% for period, data in customers_report.items %}
                    <ul class="report ranking {{ period }}{% if period != 'today' %} tpl{% endif %}">
                        {% if data and data.0.total > 0 %}
                            {% for customer in data|slice:"5" %}
                                {% if customer.total > 0 %}
                                     {% with member=customer.member %}
                                    {% if settings.MEMBER_DETAIL_VIEW %}
                                        {% url settings.MEMBER_DETAIL_VIEW member.id as member_url %}
                                    {% else %}
                                        {% url 'ikwen:profile' member.id as member_url %}
                                    {% endif %}
                                        <li>
                                            <a href="{% if settings.MEMBER_DETAIL_VIEW %}{{ member_url }}{% else %}{{ member_url|ikwenize }}{% endif %}">{{ member.full_name }}</a>
                                            <span>{{ customer.total|floatformat:CRNCY.precision|intcomma }}</span>
                                        </li>
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="empty">{% trans 'Not enough data' %}</li>
                        {% endif %}
                    </ul>
                    {% if data and data.0.total > 0 %}
                        <div id="{{ period }}-top-customers-chart"
                             class="pie-chart {{ period }}-pie-chart {% if period != 'today' %}tpl{% endif %}"></div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
        {% if daras_report %}
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Top daras" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div class="th">
                    <span style="float: left">{% trans "Dara" %}</span>
                    <span title="Estimated earnings" style="float: right">
                        {% trans "Earnings" %}
                        <span class="text-muted" style="font-weight: 400">({{ CRNCY.code }})</span>
                    </span>
                </div>
                {% for period, data in daras_report.items %}
                    <ul class="report ranking {{ period }}{% if period != 'today' %} tpl{% endif %}">
                        {% if data and data.0.total > 0 %}
                            {% for dara in data|slice:"5" %}
                                {% if dara.total > 0 %}
                                    {% with member=dara.member %}
                                    <li>
                                        {% url 'daraja:view_profile' dara.uname as profile_url %}
                                        <a href="https://ikwen.com{{ profile_url }}">{{ member.full_name }}</a>
                                        <span>{{ dara.total|floatformat:CRNCY.precision|intcomma }}</span>
                                    </li>
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="empty">{% trans 'Not enough data' %}</li>
                        {% endif %}
                    </ul>
                    {% if data and data.0.total > 0 %}
                        <div id="{{ period }}-top-daras-chart"
                             class="pie-chart {{ period }}-pie-chart {% if period != 'today' %}tpl{% endif %}"></div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
