{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Packages" %} - ikwen</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'kakocase/css/admin.css' %}" />
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Packages" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="has-edge-panel-right">
        <div class="container-fluid">
            {% include 'core/snippets/spinner.html' %}
            {% include 'trade/snippets/package_list_results.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "ikwen/js/jquery.autocomplete.min.js" %}"></script>
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .packages').addClass('active');
            $('body').on('click', 'li.order', function() {
                var packageId = $(this).data('id');
                $('ul li.order').removeClass('active');
                $(this).addClass('active');
                $('div#object-detail .empty').hide();
                $('div#object-detail .info .spinner').show();
                $('div#object-detail .info .content').load('{% url 'trade:get_order_details' %}?package_id=' + packageId, null, function() {
                    $('div#object-detail .info .spinner').hide();
                });
                if ($(window).width() < 768) {
                    ikwen.swipeInRightPanel()
                }
            }).on('click', '#confirm button', function() {
                var packageId = $(this).data('id'), url;
                {% if settings.IS_PROVIDER %}
                    url = "{% url 'trade:confirm_shipping' %}";
                {% else %}
                    url = "{% url 'trade:confirm_processing' %}";
                {% endif %}

                $.getJSON(url, {'package_id': packageId}, function(resp) {
                    if (resp.error) {
                        ikwen.showFloatingNotice(resp.error, "", 6);
                        return;
                    }
                    $('div#confirm button').hide();
                    ikwen.showFloatingNotice("{% trans "Shipping confirmed" %}", "", 6);
                    $('#' + packageId).removeClass('pending');
                })
            });

            $('#admin-content').on('click', '.pagination li', function() {
                $('.pagination li').removeClass('active');
                $(this).addClass('active');
                loadResults();
            }).on('submit', '#context-search', function() {
                loadResults();
                return false
            }).on('click', '.results-filter li', function() {
                $(this).parents('ul').find('li').removeClass('active');
                $(this).addClass('active');
                if ($(this).hasClass('partner')) $('#partner-id').val('');
                loadResults();
            }).on('click', '.show-results-filter', function() {
                $('.show-results-filter, .results-filter').toggleClass('active');
            });

            function loadResults() {
                var search = $('form#context-search input').val(),
                    partnerId = $('#partner-id').length ? $('#partner-id').val() : $('.results-filter .partner.active').data('value'),
                    status = $('.results-filter .status.active').data('value'),
                    daysLeft = $('.results-filter .days-left.active').data('value'),
                    currentPage = $('.pagination li.active').data('val'),
                    params = 'q=' + search + '&partner_id=' + partnerId + '&status=' + status + '&days_left=' + daysLeft
                        + '&page=' + currentPage + '&format=html_results';
                if ($('.results-filter').hasClass('active')) params += '&filter_results=yes';

                var query = '{{ request.META.QUERY_STRING|safe }}' ;
                if (query) query += '&' + params;
                else query = params;

                $('div#admin-content > .spinner').fadeIn();
                $('div#admin-content .container-fluid').load('{{ request.path }}', query, function() {
                    $('div#admin-content > .spinner').fadeOut();
                })
            }
            $('#search-partner-name').autocomplete({
                serviceUrl: "{% url 'trade:list_partner_companies' %}",
                minChars: 2,
                appendTo: '#partner-suggestions',
                onSelect: function(suggestion) {
                    var partnerId = suggestion.data;
                    $('#partner-id').val(partnerId);
                    loadResults();
                }
            });
        })();
    </script>
{% endblock %}
