{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Packages" %} - ikwen</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'kakocase/css/admin.css' %}" />
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Packages" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="has-edge-panel-right">
        <div class="container-fluid">
            <div id="admin-tools" class="ceil bottom-shade-xs">
                <form id="admin-tools-form">
                    <div>
                        <div>
                            <i class="glyphicon glyphicon-search"></i>
                            <i class="glyphicon glyphicon-menu-left hide-search back"></i>
                            <input id="context-search" type="text" class="form-input input-sm tool search"
                                   placeholder="{% trans "Search PPC" %}" data-min-search-chars="2" />
                        </div>
                        <div class="filter-trigger">
                            <i class="glyphicon glyphicon-filter"></i>
                            <i class="glyphicon glyphicon-menu-left hide-filter back"></i>
                            <div class="show-results-filter tool filter btn btn-default btn-sm{% if filter_results %} active{% endif %}">
                                <div>
                                    <span class="pull-left">{% trans "Filters" %}</span>
                                    <span class="caret pull-right" style="margin: 7px 0 0 5px"></span>
                                </div>
                            </div>
                        </div>
                    </div>
            {#                <div>#}
            {#                    <button class="btn btn-primary btn-sm" style="width: 100px">{% trans "Export" %}</button>#}
            {#                </div>#}
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="results-filter{% if filter_results %} active{% endif %}">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>{% trans "Status" %}</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="status{% if not status %} active{% endif %}" data-value="">
                                <a href="javascript:;"> {% trans "All" %} </a>
                            </li>
                            <li role="presentation" class="status{% if status == 'Pending' %} active{% endif %}" data-value="Pending">
                                <a href="javascript:;"> {% trans "Pending" %} </a>
                            </li>
                            <li role="presentation" class="status{% if status == 'Shipped' %} active{% endif %}" data-value="Shipped">
                                <a href="javascript:;"> {% trans "Shipped" %} </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>{% trans "Expected delivery" %}</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="days-left{% if not days_left and days_left != 0 %} active{% endif %}" data-value="">
                                <a href="javascript:;"> {% trans "All" %} </a>
                            </li>
                            <li role="presentation" class="days-left{% if days_left == 0 %} active{% endif %}" data-value="0">
                                <a href="javascript:;"> {% trans "Today" %} </a>
                            </li>
                            <li role="presentation" class="days-left{% if days_left == 1 %} active{% endif %}" data-value="1">
                                <a href="javascript:;"> {% trans "Tomorrow" %} </a>
                            </li>
                            <li role="presentation" class="days-left{% if days_left == 3 %} active{% endif %}" data-value="3">
                                <a href="javascript:;"> {% trans "Within 3 days" %} </a>
                            </li>
                            <li role="presentation" class="days-left{% if days_left == 7 %} active{% endif %}" data-value="7">
                                <a href="javascript:;"> {% trans "Within 7 days" %} </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        {% if settings.IS_PROVIDER %}
                            <h4>{% trans "Handled by" %}</h4>
                        {% else %}
                            <h4>{% trans "From" %}</h4>
                        {% endif %}
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="partner{% if not partner %} active{% endif %}" data-value="">
                                <a href="javascript:;"> {% trans "All" %} </a>
                            </li>
                            {% if partners|length <= 4 %}
                                {% for p in partners %}
                                    <li role="presentation" class="partner{% if partner == p.service %} active{% endif %}" data-value="{{ p.service.id }}">
                                        <a href="javascript:;">
                                            {{ p.company_name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <input id="search-partner-name" type="text" class="form-control input-sm" autocomplete="off" style="height: 27px; margin-top: 6px; padding: 2px 9px"
                                       placeholder="{% trans "Search partner" %}" value="{{ partner.config.company_name }}"/>
                                <input id="partner-id" type="hidden" value="{{ partner.id }}" />
                                <div id="partner-suggestions" class="autocomplete-suggestions"></div>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="results" style="clear: both">
                {% include 'core/snippets/spinner.html' %}
                {% include 'trade/snippets/package_list_results.html' %}
            </div>
            <div class="edge-panel-right-container">
                <div id="object-detail" class="edge-panel-right">
                    <div class="empty">
                        {% trans "Click on an package in the list to view details." %}
                    </div>
                    <div>
                        <div class="info">
                            {% include 'core/snippets/spinner.html' %}
                            <div class="content"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "ikwen/js/jquery.autocomplete.min.js" %}"></script>
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .packages').addClass('active');
            $('body').on('click', 'li.order', function() {
                var packageId = $(this).data('id');
                $('ul li.order').removeClass('active');
                $(this).addClass('active');
                $('div#object-detail .empty').hide();
                $('div#object-detail .info .spinner').show();
                $('div#object-detail .info .content').load('{% url 'trade:get_order_details' %}?package_id=' + packageId, null, function() {
                    $('div#object-detail .info .spinner').hide();
                });
                if ($(window).width() < 768) {
                    ikwen.swipeInRightPanel()
                }
            }).on('click', '#confirm button', function() {
                var packageId = $(this).data('id'), url;
                {% if settings.IS_PROVIDER %}
                    url = "{% url 'trade:confirm_shipping' %}";
                {% else %}
                    url = "{% url 'trade:confirm_processing' %}";
                {% endif %}

                $.getJSON(url, {'package_id': packageId}, function(resp) {
                    if (resp.error) {
                        ikwen.showFloatingNotice(resp.error, "", 6);
                        return;
                    }
                    $('div#confirm button').hide();
                    ikwen.showFloatingNotice("{% trans "Shipping confirmed" %}", "", 6);
                    $('#' + packageId).removeClass('pending');
                })
            });

            $('#admin-content').on('click', '.pagination li', function() {
                $('.pagination li').removeClass('active');
                $(this).addClass('active');
                loadResults();
            }).on('submit', '#admin-tools-form', function() {
                loadResults();
                return false
            }).on('click', '.results-filter li', function() {
                $(this).parents('ul').find('li').removeClass('active');
                $(this).addClass('active');
                if ($(this).hasClass('partner')) $('#partner-id').val('');
                loadResults();
            }).on('click', '.show-results-filter', function() {
                $('.show-results-filter, .results-filter').toggleClass('active');
            });

            function loadResults() {
                var search = $('#context-search').val(),
                    partnerId = $('#partner-id').length ? $('#partner-id').val() : $('.results-filter .partner.active').data('value'),
                    status = $('.results-filter .status.active').data('value'),
                    daysLeft = $('.results-filter .days-left.active').data('value'),
                    currentPage = $('.pagination li.active').data('val'),
                    params = 'q=' + search + '&partner_id=' + partnerId + '&status=' + status + '&days_left=' + daysLeft
                        + '&page=' + currentPage + '&format=html_results';
                if ($('.results-filter').hasClass('active')) params += '&filter_results=yes';

                var query = '{{ request.META.QUERY_STRING|safe }}' ;
                if (query) query += '&' + params;
                else query = params;

                $('div#admin-content > .spinner').fadeIn();
                $('#results').load('{{ request.path }}', query, function() {
                    $('div#admin-content > .spinner').fadeOut();
                })
            }
            $('#search-partner-name').autocomplete({
                serviceUrl: "{% url 'trade:list_partner_companies' %}",
                minChars: 2,
                appendTo: '#partner-suggestions',
                onSelect: function(suggestion) {
                    var partnerId = suggestion.data;
                    $('#partner-id').val(partnerId);
                    loadResults();
                }
            });
        })();
    </script>
{% endblock %}
