/*--
Author: ikwen
Author URL: http://www.ikwen.com/kakocase

Blue Theme for Kakocase Origin Template
--*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Ubuntu:400,700');

body{
	font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h5,h6{font-family: 'PT Sans Narrow', sans-serif;}
.header-top {background: #99c432;padding: .6em 0;}
.top-left a {font-family: 'PT Sans Narrow', sans-serif;font-size: 1.1em;color: #3f5800;}
.header-bottom {background: #a4d826;}
.header-bottom.fixed {background: rgba(255, 255, 255, 0.94);}
.header-bottom.fixed .top-left a {color: #a4d826;}
.header-xs {background: #a4d826}
.header-xs a {color: #3f5800}
.header-xs .icon-bar {background: #3f5800}
#megadropdown-tabs-xs {background: #a4d826; border-top: 1px solid #1f1f1f}
.dropdown-menu li, .dropdown-menu li a {color: #0d59af}
.checkout-header {background: #455800;}
.ban-text {background: rgba(13, 89, 175, 0.72)}
.ban-text1 {background: rgba(13, 89, 175, 0.72)}
.hvr-sweep-to-top:before {background: #540000}
.logo-nav-left h1 a {font-family: 'PT Sans Narrow', sans-serif;color: #3f5800;}
.header-bottom.fixed .logo-nav-left h1 a {color: #7bad01;}
.logo-nav-left1 ul li a {font-family: 'PT Sans Narrow', sans-serif; font-size: 1.1em}
.top-right ul li a {font-size: 1.1em;font-weight: 700;font-family: 'PT Sans Narrow', sans-serif;color: #3f5800;}
.header-bottom.fixed .top-right ul li a {color: #7bad01;}
.box_1, .box_1 h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #3f5800;
}
.header-bottom.fixed .box_1, .header-bottom.fixed .box_1 h3 {color: #7bad01;}
h2.tittle {
    color: #7bad01;
    font-family: 'PT Sans Narrow', 'Ubuntu', sans-serif;
}

.product-about h6 a {
    color: #080000;
}
em.item_price {
    font-family: 'Ubuntu', sans-serif;
    color: #7bad01;
}
.ribben {
    background: #F19E1F;
}
.ribben1 {
    background: #AF1D0D;
}
.ribben:after {
    border-top-color: #BF8020;
}
.my-cart-b {
    color: #080000;
    border: 2px solid #131313;
}
.my-cart-b:before {
  background: #131313;
  border: 2px solid #131313;
}
.my-cart-b:not(.sold-out):hover, .my-cart-b:not(.sold-out):focus, .my-cart-b:not(.sold-out):active {
	border: 2px solid #131313;
}
a.button1 {
    background: #a4d826;
}
.latest-text {
    background: #a4d826;    
}
.latest-text h4 {color: #3f5800;}
.latest-text2 {
   background: #a4d826;
}
.footer-w3l {
    background: #7bad01;
}
.footer-grid h4 {font-family: 'PT Sans Narrow', sans-serif;color: #263500;}
.footer-grid i {
    border: 1px solid #505050;
}
.footer-grid ul li a:hover {
    color: #3f5800;
}

.social-icon i {
    background-color: #F19E1F;
}

.social-icon a i {
    background-color: #263500;
}

.social-icon i:hover {
    background-color: #3f5800;
}

.categories h3{
    background: #7bad01;
}
.price h3,.top-rates h3,.brand-w3l h3{
    background: #7bad01;
}
.left-tab > li > a {
    background: #263600;
}
.left-tab > li.active > a, .left-tab > li.active > a:hover, .left-tab > li.active > a:focus {
    background-color: #7bad01;
}
.navbar-default .navbar-nav > li > a {color: #3f5800}
.header-bottom.fixed .navbar-default .navbar-nav > li > a {color: #7bad01;}
.nav > li > a:hover, .nav > li > a:focus {
    background: #435f00;
}
#megadropdown-tabs-xs .nav > li > a:hover, .nav > li > a:focus {
    background: #230404;
}
#reviews input[type="submit"] {
    background: #7bad01;
}
#reviews input[type="submit"]:hover {background: #8bc300;}
.core-slider__carousel .core-slider_arrow__left {
    background-color: #7bad01;
}
.core-slider__carousel .core-slider_arrow__right {
    background-color: #7bad01;
}
p.price, .cart-item-info .item_price, .cart-item-info .subtotal {font-family: 'PT Sans Narrow', sans-serif;}

a.empty-cart {color: #3f5800}
.cd-search-trigger::before {border: 3px solid #3f5800}
.cd-search-trigger::after, .cd-search-trigger span::before, .cd-search-trigger span::after {background: #3f5800}

.header-bottom.fixed a.empty-cart {color: #7bad01}
.header-bottom.fixed .cd-search-trigger::before {border: 3px solid #7bad01}
.header-bottom.fixed .cd-search-trigger::after,
.header-bottom.fixed .cd-search-trigger span::before,
.header-bottom.fixed .cd-search-trigger span::after {background: #7bad01}
