{% load currency i18n humanize url_utils %}
{% with event_type=event.event_type %}
    <h4 class="text-primary col-xs-12">{{ product.name }}</h4>
    {% if product.image.name %}
        <div class="event-media" style="background-image: url({{ product.image.url }})">
            <div class="stretched card-tile" style="background-image: url({{ product.image.url }})"></div>
        </div>
    {% endif %}
    {% if event_type.codename == 'ProviderRemovedProductEvent' %}
        <p class="col-xs-12">{% trans "Provider removed this product. It won't appear on your website anymore." %}</p>
    {% elif event_type.codename == 'ProviderPushedProductEvent' %}
        <p class="col-xs-12"></p>
    {% elif event_type.codename == 'InsufficientStockEvent' %}
        <p class="col-xs-12">{% trans "A customer tried to order more than the available stock for this product." %}</p>
    {% elif event_type.codename == 'LowStockEvent' %}
        <p class="col-xs-12">{% trans "A customer tried to order more than the available stock for this product." %}</p>
    {% elif event_type.codename == 'SoldOutEvent' %}
        <p class="col-xs-12">{% trans "This product went out of stock after customer order." %}</p>
    {% elif event_type.codename == 'ProductPublished' %}
        <div class="col-xs-12">
            {% if product.summary %}
                {{ product.summary|safe }}
            {% else %}
                {{ product.description|safe }}
            {% endif %}
        </div>
        <p class="col-xs-12" style="margin-top: 15px">
            <strong class="pull-right">{{ CURRENCY.symbol }} {{ product.retail_price|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</strong>
        </p>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6" style="margin-top: 15px">
            {% url 'shopping:product_detail' product.category.slug product.slug as product_uri %}
            <a href="{{ event.service.url }}{{ product_uri|strip_base_alias }}"
               target="_blank" class="btn btn-warning btn-sm btn-block">{% trans "Buy now" %}</a>
        </div>
    {% endif %}
{% endwith %}
<div class="clear"></div>