{% load i18n humanize staticfiles auth_tokens media_from_provider %}
<h3 class="main-title">{% trans "Package details" %}</h3>
<ul class="object-list package-details">
    {% for entry in order.entries %}
        <li class="ik-li">
            {% with product=entry.product %}
                {% url 'kako:change_product' product.id as product_url %}
                <a href="{{ product_url }}" target="_blank" class="image" style="background-image: url({{ product.image|from_provider:product.provider }})"></a>
                <div class="info">
                    <span class="name">{{ product.name }}</span>
                    <div class="about">
                        <div class="meta">
                            <strong>{% trans "Ref" %}:</strong> <span>{% if entry.product.reference %}{{ entry.product.reference }}{% else %}N/A{% endif %}</span>
                        </div>
                        <div>
                            <strong>{% trans "Size" %}:</strong> <span>{{ entry.product.size }}</span>
                        </div>
                        <div>
                            <strong>{% trans "Qty" %}:</strong> <span>{{ entry.count }}</span>
                        </div>
                    </div>
                </div>
            {% endwith %}
        </li>
    {% endfor %}
</ul>

{% with da=order.delivery_address do=order.delivery_option delivery_company=order.delivery_option.company %}
    <div class="container-fluid" style="clear: both">
        <div class="order-summary">
            <p>{% blocktrans with items_count=order.items_count %}
                {{ items_count }} items{% endblocktrans %}</p>
            <div>
                {% if delivery_company == service %}
                    {% if do.type == 'PickUpInStore' %}
                        <h4>{% trans "Remit to" %}:</h4>
                    {% else %}
                        <h4>{% trans "Deliver to" %}:</h4>
                    {% endif %}
                    {{ da.name }}
                    <p style="font-size: .9em; line-height: 1.4em">
                        {% if do.type == 'PickUpInStore' %}
                            <em>{{ da.phone }}</em><br><br>
                            <strong>{{ do.name }}</strong>
                        {% else %}
                            {{ da.details }}<br>
                            {% if da.postal_code %}{% trans "Postal code" %}: {{ da.postal_code }}, <br>{% endif %}
                            <strong style="color: #666">{{ da.city }}, {{ da.country.name }}.</strong><br>
                            <em>{{ da.phone }}</em>
                        {% endif %}
                    </p>
                {% else %}
                    <h4>{% trans "Company in charge" %}:</h4>
                    {% url 'ikwen:company_profile' delivery_company.project_name_slug as company_url %}
                    <a href="{{ company_url|ikwenize }}" target="_blank">{{ delivery_company.config.company_name }}</a>
                {% endif %}
            </div>
            {% if order.status == 'Pending' %}
            <div>
                <h4>{% trans "Delivery expected on" %}:</h4>
                <span class="text-muted" style="font-size: 14px">{{ order.delivery_expected_on|naturaltime }}</span>
            </div>
            {% endif %}
        </div>
        {% if order.status == 'Pending' %}
            <div id="confirm" style="margin-top: 25px">
                <button class="btn btn-success btn-sm btn-block" data-id="{{ order.id }}"
                        style="margin-bottom: 120px">{% trans "Confirm" %}</button>
            </div>
        {% else %}
            <div class="delivery-report">
                <div>
                    <strong>{% trans "Confirmed on" %}:</strong>
                    <span class="text-muted">{{ order.confirmed_on }}</span>
                </div>
                <div>
                    <strong>{% trans "By" %}:</strong>
                    <span class="text-muted">{{ order.confirmed_by.full_name }}</span>
                </div>
                <div style="margin-bottom: 120px"></div>
            </div>
        {% endif %}
    </div>
{% endwith %}