{% load i18n static staticfiles auth_tokens media_from_provider cache %}
<!--
Au<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        {% include 'core/snippets/favicon.html' %}
		{% block page_title %}{% endblock %}
		{% block head_style %}
            <link rel="stylesheet" href="{% static 'kakocase/css/bootstrap.css' %}" />
            <link rel='stylesheet' href="{% static 'ikwen/css/base.css' %}" />
            <link rel="stylesheet" href="{% static 'kakocase/css/style.css' %}" type="text/css" media="all" />
            {% if config.theme %}
                {% with theme=config.theme %}
                    <link rel='stylesheet' href="{% static 'kakocase/themes/' %}{{ theme.template.slug }}/{{ theme.slug }}.css" />
                {% endwith %}
            {% else %}
                <link href="https://fonts.googleapis.com/css?family=Cagliostro" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic,300" rel="stylesheet">
            {% endif %}
            <link rel='stylesheet' href="{% static 'kakocase/css/font-awesome.css' %}" />
{#            <link rel="stylesheet" href="{% static 'kakocase/css/jstarbox.css' %}" type="text/css" media="screen" charset="utf-8" />#}
		{% endblock %}
        {% block head_js %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script src="{% static 'kakocase/js/jquery.min.js' %}"></script>
        <script src="{% static 'kakocase/js/main.js' %}"></script>
        <script src="{% static 'kakocase/js/responsiveslides.min.js' %}"></script>
    </head>
    <body>
        {% block header %}
            {% cache 300 header user.username %}
            <div class="header hidden-xs">
                <div class="header-top">
                    <div class="container">
                        <div class="top-left">
                            {% if config.contact_phone %}
                            <a href="#"> {% trans "Help" %} <i class="glyphicon glyphicon-phone" aria-hidden="true"></i>{{ config.contact_phone }}</a>
                            {% endif %}
                        </div>
                        <div id="auth" class="top-right">
                            {% if user.is_authenticated %}
                                <ul style="margin: -5px 0 -6px">
                                    <li>
                                        <a href="{{ settings.IKWEN_CONSOLE_URL|append_auth_tokens:request }}">
                                            {% if user.get_notice_count > 0 %}
                                                <span class="label label-danger"
                                                      style="margin-left: 17px; position: absolute; z-index: 10">{{ user.get_notice_count }}</span>
                                            {% endif %}
                                            <i class="glyphicon glyphicon-bell" aria-hidden="true"
                                               style="font-size: 24px; line-height: .4em; margin-top: 10px"></i>
                                        </a>
                                    </li>
                                    <li id="user-menu" class="dropdown">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ user.first_name }} <i class="glyphicon glyphicon-user" aria-hidden="true"
                                                                     style="font-size: 24px"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="user-menu">
                                            <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                            <li role="separator" class="divider" style="margin-bottom: 0; width: 100%"></li>
                                            {% if user.is_staff %}
                                                <li>
                                                    <a href="{% url 'ikwen:staff_router' %}">Admin</a>
                                                </li>
                                            {% endif %}
                                            <li>{% url "ikwen:account_setup" as account_setup_url %}
                                                <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                            </li>
                                            <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="anonymous">
                                    <li><a href="{% url 'ikwen:sign_in' %}">{% trans "Login" %}</a></li>
                                    <li><a href="{% url 'ikwen:register' %}">{% trans "Create Account" %}</a></li>
                                </ul>
                            {% endif %}
                        </div>
                        {% if config.can_manage_currencies %}
                            {% include 'shopping/snippets/currency_switcher.html' %}
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="container">
                        <div class="logo-nav">
                            <div class="logo-nav-left">
                                {% url 'shopping:home' as home_url %}
                                <h1>
                                    <a href="{{ home_url }}">
                                        {% if config.theme.logo.name %}
                                            <img src="{{ config.theme.logo.url }}" alt="Logo {{ service.project_name }}"/>
                                        {% else %}
                                            {{ service.project_name }}
                                        {% endif %}
                                    {% if config.slogan %}<span>{{ config.slogan }}</span>{% endif %}
                                    </a>
                                </h1>
                            </div>
                            <div class="logo-nav-left1">
                                <nav class="navbar navbar-default">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header nav_2">
                                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                        <ul class="nav navbar-nav">
                                            <!-- Mega Menu -->
                                            {% for smart_category in smart_categories_level2 %}
                                                <li class="dropdown level2">
                                                    <a href="{% url 'shopping:smart_object_detail' smart_category.slug %}">{{ smart_category.title }}</a>
                                                </li>
                                            {% endfor %}
                                            {% for smart_category in smart_categories_level1 %}
                                                <li class="dropdown">
                                                    <a href="{% url 'shopping:smart_object_detail' smart_category.slug %}">{{ smart_category.title }}</a>
                                                </li>
                                            {% endfor %}
                                            {% for category in menu_categories %}
                                                <li class="dropdown">
                                                    <a href="{% url 'shopping:product_list' category.slug %}">{{ category.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="logo-nav-right">
                                <ul class="cd-header-buttons">
                                    <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                                </ul> <!-- cd-header-buttons -->
                                <div id="cd-search" class="cd-search">
                                    {% url 'shopping:search' as search_url %}
                                    <form action="{{ search_url|append_auth_tokens:request }}">
                                        <input name="q" type="search" placeholder="{% trans "Search" %} ...">
                                    </form>
                                </div>
                            </div>
                            {% if config.allow_shopping and config.show_prices %}
                                <div class="header-right2">
                                    <div class="cart box_1">
                                        <a href="{% url 'shopping:cart' %}">
                                            <h3>
                                                <div class="total">
                                                    <span class="simpleCart_total"></span>
                                                    (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> {% trans "items" context 'cart items' %})
                                                </div>
                                            </h3>
                                        </a>
                                        <p>
                                            <a href="javascript:;" class="empty-cart" data-toggle="modal"
                                               data-target="#confirm-empty-cart" style="margin-top: .2em">
                                                <i class="glyphicon glyphicon-shopping-cart" style="font-size: 18px"></i>
                                                {% trans "Empty Cart" %}
                                            </a></p>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-xs visible-xs">
                <div class="container-fluid">
                    <div class="pull-left">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                                data-target="#megadropdown-tabs-xs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div id="megadropdown-tabs-xs" class="collapse">
                            <ul class="nav navbar-nav">
                                {% for smart_category in smart_categories_level2 %}
                                    <li class="dropdown level2"><a
                                            href="{% url 'shopping:smart_object_detail' smart_category.slug %}">{{ smart_category.title }}</a>
                                    </li>
                                {% endfor %}
                                {% for smart_category in smart_categories_level1 %}
                                    <li class="dropdown level1"><a
                                            href="{% url 'shopping:smart_object_detail' smart_category.slug %}">{{ smart_category.title }}</a>
                                    </li>
                                {% endfor %}
                                {% for category in menu_categories %}
                                    <li class="dropdown"><a
                                            href="{% url 'shopping:product_list' category.slug %}">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if config.can_manage_currencies %}
                                {% include 'shopping/snippets/currency_switcher.html' %}
                            {% endif %}
                        </div>
                        <h3 class="app-name">
                            <a href="{% url 'shopping:home' %}">{{ service.project_name }}</a>
                        </h3>
                    </div>
                    <div class="pull-right">
                        <a class="cd-search-trigger" href="#cd-search"> <span></span></a>
                        {% if config.allow_shopping and config.show_prices %}
                            <a class="action" href="{% url 'shopping:cart' %}">
                                <span class="badge badge-danger simpleCart_quantity"></span>
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                            </a>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <a class="action" href="{{ settings.IKWEN_CONSOLE_URL }}">
                                {% if user.get_notice_count > 0 %}
                                    <span class="badge badge-danger">{{ user.get_notice_count }}</span>
                                {% endif %}
                                <i class="glyphicon glyphicon-bell"></i>
                            </a>
                            <div class="action dropdown" style="float: right; width: 20px">
                                <a class="dropdown-toggle" data-toggle="dropdown" id="user-menu" aria-haspopup="true"
                                   aria-expanded="true">
                                    <i class="glyphicon glyphicon-user"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="user-menu" style="left: -130px">
                                    <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                    <li role="separator" class="divider"></li>
                                    {% if user.is_staff %}
                                        <li>
                                            <a href="{% url 'ikwen:staff_router' %}">Admin</a>
                                        </li>
                                    {% endif %}
                                    <li>{% url "ikwen:account_setup" as account_setup_url %}
                                        <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                    </li>
                                    <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="action" href="{% url 'ikwen:sign_in' %}">
                                <i class="glyphicon glyphicon-user"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div id="cd-search" class="cd-search">
                        <form action="{% url 'shopping:search' as search_url %}">
                            <input name="q" type="search" placeholder="{% trans "Search" %} ...">
                        </form>
                    </div>
                </div>
            </div>
            {% endcache %}
        {% endblock %}
        {% block banner %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            {% cache 300 footer %}
            <div class="footer-w3l">
                <div class="container">
                    <div class="footer-grids">
                        <div class="col-sm-6 col-md-3 footer-grid">
                            <h4>{{ service.project_name }}</h4>
                            <ul>
                                <li><a href="{% url 'shopping:home' %}">{% trans "Home" %}</a></li>
                                {% if config.allow_shopping and config.show_prices %}
                                    <li><a href="{% url 'shopping:cart' %}">{% trans "Checkout" %}</a></li>
                                {% endif %}
{#                                <li><a href="{% url 'shopping:contact' %}">{% trans "Contact" %}</a></li>#}
                                <li><a href="{% url 'flatpage' 'agreement' %}">{% trans "Terms and Conditions" %}</a></li>
                                <li><a href="{% url 'ikwen:sign_in' %}">{% trans "Login" %}</a></li>
                                <li><a href="{% url 'ikwen:register' %}">{% trans "Create Account" %}</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 footer-grid">
                            <h4>{% trans "Quick access" %}</h4>
                            <ul>
                                {% for category in quick_access_categories %}
                                    <li>
                                        {% url 'shopping:product_list' category.slug as product_list_url %}
                                        <a href="{{ product_list_url }}">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 footer-grid">
                            <h4>{% trans "About" %}</h4>
                            <p>{{ config.description|truncatewords:25 }}</p>
                            <div class="social-icon">
                                {% if config.facebook_link %}
                                    <a href="{{ config.facebook_link }}" target="_blank"><i class="facebook"></i></a>
                                {% endif %}
                                {% if config.instagram_link %}<a href="{{ config.instagram_link }}" target="_blank"><i
                                        class="instagram"></i></a>{% endif %}
                                {% if config.twitter_link %}<a href="{{ config.twitter_link }}" target="_blank"><i
                                        class="twitter"></i></a>{% endif %}
                                {% if config.google_plus_link %}
                                    <a href="{{ config.google_plus_link }}" target="_blank"><i
                                            class="gplus"></i></a>{% endif %}
                                {% if config.linkedin_link %}<a href="{{ config.linkedin_link }}" target="_blank"><i
                                        class="linkedin"></i></a>{% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 footer-grid foot">
                            <h4>{% trans "Contacts" %}</h4>
                            <ul>
                                <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#">{{ config.address }}</a></li>
                                {% if config.contact_phone %}
                                <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="#">{{ config.contact_phone }}</a></li>
                                {% endif %}
                                <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:{{ config.contact_email }}">{{ config.contact_email }}</a></li>
                            </ul>
                        </div>
                    <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="copy-section">
                <div class="container">
                    <div class="copy-left">
                        <p>&copy; {{ year }} <a href="{{ service.url }}" style="color: #666; text-decoration: none"><strong>{{ config.company_name }}</strong></a>.
                            <span>{% trans "All rights reserved" %}</span>
                            - <a href="{{ settings.LEGAL_MENTIONS_URL }}" style="color: #666; text-decoration: none">{% trans "Legal mentions" %}</a>
                        </p>
                    </div>
{#                    <div class="copy-right">#}
{#                        <img src="{% static 'kakocase/img/card.png' %}" alt=""/>#}
{#                    </div>#}
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endcache %}
        {% endblock %}
        {% include 'shopping/snippets/modal_confirm_empty_cart.html' %}
        {% include 'shopping/snippets/modal_added_to_cart.html' %}
        {% include 'shopping/snippets/modal_successful_registration.html' %}
        <script src="{% static 'ikwen/js/ikwen-util.js' %}"></script>
        <script>
            $(function() {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true
                });
            });
        </script>
        <script src="{% static 'kakocase/js/bootstrap-3.1.1.min.js' %}"></script>
        <script src="{% static 'kakocase/js/simpleCart.min.js' %}"></script>
{#        <script src="{% static 'kakocase/js/jstarbox.js' %}"></script>#}
        <script type="text/javascript">
            (function () {
                {% if request.GET.successfulRegistration %}
                    $('#modal-successful-registration').modal('show');
                {% endif %}
                $('.starbox').each(function () {
                    var starbox = jQuery(this);
                    starbox.starbox({
                        average: starbox.hasClass('changeable') ? 0.01 : starbox.data('average') ? starbox.data('average'): Math.random(),
                        changeable: starbox.hasClass('changeable') ? true : starbox.hasClass('clickonce') ? 'once' : false,
                        ghosting: starbox.hasClass('ghosting'),
                        autoUpdateAverage: starbox.hasClass('autoupdate'),
                        buttons: 10
                    })
                });
                $('form#lang a').click(function() {
                    var lang = $(this).data('val');
                    $('form#lang input[name=language]').val(lang);
                    $('form#lang').submit();
                    return false
                });

                /* CART STUFFS */
                simpleCart.currency({
                    code: "{{ CURRENCY.code }}",
                    symbol: "{{ CURRENCY.symbol }} ",
                    accuracy: {{ CURRENCY.precision }}
                });
                simpleCart.bind('beforeAdd', function (item) {
                    if (!item.get('size')) {
                        $('.size-list').addClass('alert-danger');
                        ikwen.showFloatingNotice("<strong>{% trans "Please select a size." %}</strong>", "", 3);
                        return false
                    } else {
                        $('.size-list').removeClass('alert-danger');
                    }
                });
                simpleCart.bind('afterAdd', function (item) {
                    $('div#added-to-cart .name').text(item.get('name'));
                    var size = item.get('size');
                    if (size != '-------')
                        $('div#added-to-cart .size').text('(' + size + ')');
                    else
                        $('div#added-to-cart .size').text('');
                    $('#added-to-cart').modal('show');
                });

                $('body').on('click', '.value-plus1', function () {
                    var max = $(this).data('max');
                    var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                    if (newVal > max) {
                        ikwen.showFloatingNotice("{% trans "Available stock limit reached." %}", "", 3);
                        return;
                    }
                    divUpd.text(newVal);
                }).on('click', '.value-minus1', function () {
                    var min = $(this).data('min');
                    var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                    if (newVal < min) {
                        ikwen.showFloatingNotice("{% trans "You reached the minimum number of units to order." %}", "", 3);
                        return;
                    }
                    if (newVal >= 1) divUpd.text(newVal);
                }).on('click', '.size-list input[type=radio]', function () {
                    var id = $(this).data('id'),
                        size = $(this).val(),
                        price = $(this).data('retail_price'),
                        stock = $(this).data('stock'),
                        max = stock,
                        item = simpleCart.find({'id': id})[0],
                        currency = simpleCart.currency().symbol;
                    $(this).parents('.size-list').find('.item_size').text(size);
                    $(this).parents('.simpleCart_shelfItem').find('.item_id').text(id);
                    $(this).parents('.simpleCart_shelfItem').find('.item_price').html(currency + ' ' + price);
                    if (item) max = stock - item.quantity();
                    if (max == 0) $('.simpleCart_shelfItem .value1').text(0);
                    else $('.simpleCart_shelfItem .value1').text(1);
                    $(this).parents('.simpleCart_shelfItem').find('.value-plus1').data('max', max)
                }).on('change', '.currency-switcher select', function() {
                    simpleCart.empty();
                    $(this).parents('.currency-switcher').submit()
                });
                $('#content').on('click', '.product-tile button.my-cart-b:not(.sold-out)', function () {
                    var id = $(this).data('id'),
                        image = $(this).data('image'),
                        name = $(this).data('name'),
                        description = $(this).data('description'),
                        stock = $(this).data('stock'),
                        max = stock,
                        minOrder = $(this).data('min-order'),
                        url = $(this).parents('.product-about').find('h6 a').attr('href'),
                        $sizeRadios = $(this).parents('.product-about').find('.size-radios'),
                        $price = $(this).parents('.product-about').find('.product-price'),
                        item = simpleCart.find({'id': id})[0];
                    $('div#product-modal-preview .item_id').text(id);
                    $('div#product-modal-preview .item_image').text(image);
                    $('div#product-modal-preview .item_name').text(name);
                    $('div#product-modal-preview .item_url').text(url);
                    $('div#product-modal-preview .target').attr('href', url);
                    $('div#product-modal-preview .description').html(description);
                    $('div#product-modal-preview .product-about .product-price').html($price.html());
                    $('div#product-modal-preview img').attr('src', image);
                    $('div#product-modal-preview .size-radios').html($sizeRadios.html());
                    if ($sizeRadios.length == 0) {
                        $('div#product-modal-preview .size-list').hide();
                        $('div#product-modal-preview .item_size').text('-------');
                        $('div#product-modal-preview .size-hint').hide();
                    } else {
                        $('div#product-modal-preview .size-list').show();
                        if ($sizeRadios.find('.choose-size').length == 1) {
                            var onlySize = $sizeRadios.find('input[type=radio]').val();
                            $('div#product-modal-preview .item_size').text(onlySize);
                            $('div#product-modal-preview .size-hint').hide();
                        } else {
                            $('div#product-modal-preview .item_size').text('');
                            $('div#product-modal-preview .size-hint').show();
                        }
                    }
                    if (item) {
                        max = stock - item.quantity();
                        minOrder = 1 //Reset the min order to 1 because we are actually adding more of this item to the cart
                    }
                    if (max <= 0) $('div#product-modal-preview .value1').text(0);
                    else $('div#product-modal-preview .value1').text(minOrder);
                    $('div#product-modal-preview .value-plus1').data('max', max);
                    $('div#product-modal-preview .value-minus1').data('min', minOrder);
                });
                $('div#product-modal-preview').on('click', '.my-cart-b', function () {
                    if ($('div#product-modal-preview .size-radios input').length > 0) {
                        if ($('div#product-modal-preview .size-radios input:checked').length == 0) {
                            $('.size-list').addClass('alert-danger');
                            ikwen.showFloatingNotice("<strong>{% trans "Please select a size." %}</strong>", "", 3);
                            return false
                        }
                    }
                    $('div#product-modal-preview').modal('hide')
                });
                var headerTopH = $('.header-top').height(),
                    headerBottomH = $('.header-bottom').height();
                $(window).scroll(function () {
                    var scrollTop = $(this).scrollTop();
                    if (scrollTop > headerTopH + headerBottomH) {
                        $('.header-bottom:not(.fixed)').addClass('fixed').animate({top: 0});
                        $('#auth').remove().prependTo('.header-right2')
                    } else {
                        $('.header-bottom.fixed').removeClass('fixed');
                        $('#auth').remove().insertAfter('.top-left')
                    }
                });
            })()
		</script>
        {% block js %}{% endblock %}
    </body>
</html>