"""
Django settings for WebNode project.

For more information on this file, see
https://docs.djangoproject.com/en/1.6/topics/settings/

For the full list of settings and their values, see
https://docs.djangoproject.com/en/1.6/ref/settings/
"""

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os
BASE_DIR = os.path.dirname(os.path.dirname(__file__))


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.6/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ secret_key }}'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

TEMPLATE_DEBUG = True

ALLOWED_HOSTS = [{{ allowed_hosts|safe }}]


# Application definition

INSTALLED_APPS = (
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'django.contrib.webdesign',
    'django.contrib.humanize',
    'djangotoolbox',
    'django_user_agents',
    'currencies',

    'ikwen.core',
    'ikwen.cashout',
    'ikwen.accesscontrol',
    'ikwen.billing',
    'ikwen.flatpages',
    'ikwen.partnership',
    'ikwen.theming',

    'ikwen_kakocase.kakocase',
    'ikwen_kakocase.kako',
    'ikwen_kakocase.trade',
    'ikwen_kakocase.shopping',
    'ikwen_kakocase.commarketing',
    'ikwen_kakocase.sales',

    'ikwen_webnode.web',
    'ikwen_webnode.webnode',
    'ikwen_webnode.blog',
    'ikwen_webnode.items',
)

MIDDLEWARE_CLASSES = (
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
    'django_user_agents.middleware.UserAgentMiddleware',
    'ikwen.core.middleware.ServiceStatusCheckMiddleware',
    'ikwen.billing.middleware.CurrenciesRatesMiddleware',
)

TEMPLATE_CONTEXT_PROCESSORS = (
    "django.contrib.auth.context_processors.auth",
    "django.core.context_processors.debug",
    "django.core.context_processors.i18n",
    "django.core.context_processors.media",
    "django.core.context_processors.static",
    "django.contrib.messages.context_processors.messages",
    'django.core.context_processors.request',
    'currencies.context_processors.currencies',
    'ikwen.billing.context_processors.payment_means',
    'ikwen_kakocase.kakocase.context_processors.project_settings',
    'ikwen.core.context_processors.app_modules',
    'ikwen_kakocase.kakocase.context_processors.constants',
    'ikwen_webnode.webnode.context_processors.menu_list',
    'ikwen_webnode.blog.context_processors.blog_base_data',

)

ROOT_URLCONF = 'conf.urls'

WSGI_APPLICATION = 'conf.wsgi.application'

# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

if DEBUG:
    WALLETS_DB = {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '/home/ikwen/Apps/ikwen/db.sqlite3',
    }
else:
    WALLETS_DB = {  # ikwen_kakocase.ikwen_kakocase relational database used to store sensitive objects among which CashOutRequest
        'ENGINE': 'django.db.backends.mysql',
        'HOST': '46.101.107.75',
        'NAME': 'ikwen_wallets',
        'USER': 'ladjo_my_u',
        'PASSWORD': 'T3kn0m@n'
    }

DATABASES = {
    'default': {
        'ENGINE': 'django_mongodb_engine', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '{{ ikwen_name }}',
        'HOST': '46.101.107.75'
    },
    'umbrella': {
        'ENGINE': 'django_mongodb_engine', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'ikwen_umbrella_prod',
        'HOST': '46.101.107.75'
    },
    'wallets': WALLETS_DB
}

# Internationalization
# https://docs.djangoproject.com/en/1.6/topics/i18n/

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'Africa/Douala'

USE_I18N = True

USE_L10N = True

USE_TZ = False

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/var/www/example.com/media/"
MEDIA_ROOT = '{{ media_root }}'

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://example.com/media/", "http://media.example.com/"
MEDIA_URL = '{{ media_url }}'

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/var/www/example.com/static/"
STATIC_ROOT = '{{ static_root }}'


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.6/howto/static-files/

STATIC_URL = '{{ static_url }}'


TEMPLATE_DIRS = (
    os.path.join(BASE_DIR,  'templates'),
    '/home/ikwen/Apps/Kakocase/templates',
    '/home/ikwen/Apps/WebNode/templates',
    '/home/ikwen/Apps/ikwen/templates'
)

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
        'TIMEOUT': 60 * 2,
        'KEY_PREFIX': '{{ ikwen_name }}',  # Use rather svdprod for Production
        'VERSION': '1'
    }
}

#  *******       IKWEN CONFIGURATION       *******      #

IKWEN_SERVICE_ID = '{{ service.id }}'

PROJECT_NAME = '{{ service.project_name }}'

PROJECT_URL = '{{ service.url }}'

# Standard version uses ikwen payment accounts (PayPal, MobileMoney, BankCard, etc.)
# and collects user's money upon purchases. He can later request a Cash out and his money
# will be sent to him by any mean.
# Pro version users can access more advanced configuration options like:
#   * Personal Payment accounts (Personal PayPal, Personal Mobile Money, etc.)
#   * Set the Checkout minimum without restriction
#   * Technical tools like configuring their own Google Analytics scripts, etc.
IS_PRO_VERSION = True

CHECKOUT_MIN = 5000

# IS_OPERATOR = False
# IS_CUSTOMER = True
IS_PROVIDER = True

VIEW_TIMEOUT = 3600
CHECKOUT_MIN = 3000
IS_PROVIDER = True

IKWEN_CONFIG_MODEL = 'kakocase.OperatorProfile'
IKWEN_CONFIG_MODEL_ADMIN = 'ikwen_kakocase.kakocase.admin.OperatorProfileAdmin'

#  *******       KAKOCASE BILLING CONFIGURATION       *******  #
BILLING_PRODUCT_MODEL = 'kako.RecurringPaymentService'
BILLING_PRODUCT_MODEL_ADMIN = 'ikwen_kakocase.kako.admin.RecurringPaymentServiceAdmin'
SERVICE_SUSPENSION_ACTION = 'ikwen.billing.utils.suspend_subscription'

# Function that renders customer detail in the Admin Panel.
# Must return the HTML code that will be inserted above the Block/Activate button
# CUSTOMER_DETAIL_RENDERER = 'ikwen.foundation.accesscontrol.views.render_customer_detail'

AUTH_USER_MODEL = 'accesscontrol.Member'

AUTHENTICATION_BACKENDS = (
    'permission_backend_nonrel.backends.NonrelPermissionBackend',
    'ikwen.accesscontrol.backends.LocalDataStoreBackend',
)
IKWEN_LOGIN_EVENTS = ('ikwen_kakocase.kakocase.views.set_session_data', )

GET_ADMIN_EXTRA_CONTEXT = 'ikwen_webnode.webnode.views.get_categories_context'

LOGOUT_REDIRECT_URL = 'home'

LOGIN_URL = 'ikwen:sign_in'

LOGIN_REDIRECT_URL = 'home'

IKWEN_BASE_URL = 'http://localhost/webnode/ikwen'  # Used only for dev purposes (DEBUG = False)

WSGI_SCRIPT_ALIAS = '/webnode'  # Used only for dev purposes (DEBUG = False)

SEPARATE_BILLING_CYCLE = False


# STAFF_ROUTER describes how staff users are routed upon login.
# It is a list of tuples each containing at least 2 elements,
# the first being the permission, the second being
# the url name, or raw url where to route if user having that permission
# The third element if exists will be the passed as *args for the url
# or **kwargs depending if it's a tuple or a dictionary
# Note that the Superuser will always be routed to the first url
# since he has all permissions
#
# Eg:
# STAFF_ROUTER = (
#     ('app_label.view_dashboard', 'app_label:dashboard'),
#     ('app_label.manage_orders', 'app_label:order_list')
# )
STAFF_ROUTER = (
    ('trade.ik_view_dashboard', 'dashboard'),
    ('trade.ik_manage_order', 'trade:order_list'),
    ('trade.ik_manage_drivy', 'trade:order_list', ('drivy', )),
    ('trade.ik_manage_package', 'trade:package_list'),
    ('kako.ik_manage_product', 'kako:product_list'),
    ('kako.ik_manage_marketing', 'commarketing:banner_list')
)


#  *******       E-mail CONFIGURATION       *******  #

EMAIL_HOST = 'smtp.sendgrid.net'
EMAIL_HOST_USER = 'ksihon'
EMAIL_HOST_PASSWORD = '1SeeF1re'
EMAIL_PORT = 587
EMAIL_USE_TLS = True


#  *******       MoMo API       *******  #
PAYMENTS = {
    'default': {
        'before': 'ikwen.billing.collect.product_set_checkout',
        'after': 'ikwen.billing.collect.product_do_checkout'
    },
    'subscription': {
        'before': 'ikwen.billing.collect.product_set_checkout',
        'after': 'ikwen.billing.collect.product_do_checkout'
    },
    'donation': {
        'before': 'ikwen.billing.collect.donation_set_checkout',
        'after': 'ikwen.billing.collect.donation_do_checkout'
    }
}
MTN_MOMO_API_URL = 'https://developer.mtn.cm/OnlineMomoWeb/faces/transaction/transactionRequest.xhtml'
ORANGE_MONEY_API_URL = 'https://api.orange.com/orange-money-webpay/cm/v1'


#  *******       LOGGING      *******  #
import logging
from ikwen.core.log import LOGGING
logging.config.dictConfig(LOGGING)
