{% extends "core/base_admin.html" %}
{% load i18n humanize staticfiles cache auth_tokens %}

{% block new_menu %}
    <ul class="dropdown-menu" style="width: 100%">
        <li><a href="{% url 'kako:change_product' %}">{% trans "Product" %}</a></li>
        <li><a href="{% url 'kako:change_category' %}">{% trans "Category" %}</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'marketing:change_smart_object' 'banner' %}">{% trans "Banner" %}</a></li>
        <li><a href="{% url 'marketing:change_smart_object' 'smartcategory' %}">{% trans "Smart Category" %}</a></li>
    </ul>
{% endblock %}

{% block admin_nav %}
    {% cache 600 sidebar user.username %}
    <div id="admin-nav" class="edge-panel-left">
        <div class="wrapper">
            <div class="stage">
                <div class="menu">
                    {% if perms.trade.ik_view_dashboard %}
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="dashboard">
                                <a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a>
                            </li>
                        </ul>
                    {% endif %}
                    {% if perms.commarketing.ik_manage_marketing %}
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="homepage">
                                {% url 'web:banner_list' as banner_list_url %}
                                <a href="{{ banner_list_url }}">{% trans "Homepage" %}</a>
                                </li>
                            <li role="presentation" class="menus">{% url 'web:smart_category_list' as smart_category_list_url %}
                                <a href="{{ smart_category_list_url }}">{% trans "Menus" %}</a>
                            </li>
                            <li role="presentation" class="items">{% url 'items:item_list' as item_url %}
                                <a href="{{ item_url }} ">{% trans "Items" %}</a>
                            </li>
                            {% if module_blog.is_active %}
                                <li role="presentation" class="marketing">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#blog"
                                       aria-expanded="true" style="padding-right: 0;"> {% trans "Blog" %}
                                        <i class="fa fa-fw fa-caret-down"></i>
                                    </a>
                                    <ul id="blog" class="nav nav-pills nav-stacked collapse" aria-expanded="true"
                                        style="padding-left: 15px">
                                        <li class="blog-categories">{% url 'blog:list_category' as category_list_url %}
                                            <a href="{{ category_list_url }}">{% trans "Blog categories" %}</a>
                                        </li>
                                        <li class="posts">
                                            <a href="{% url 'blog:list_post' %}">{% trans "Posts" %}</a>
                                        </li>
                                        <li class="comments">
                                            <a href="{% url 'blog:list_comment' %}">{% trans "Comments" %}</a>

                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    {% if perms.trade.ik_manage_order or perms.trade.ik_manage_drivy or perms.trade.ik_manage_package %}
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            {% if not settings.IS_DELIVERY_COMPANY and perms.trade.ik_manage_order %}
                                <li role="presentation" class="orders">
                                    {% url 'trade:order_list' as order_list_url %}
                                    <a href="{{ order_list_url }}">{% trans "Orders" %}</a>
                                </li>
                            {% endif %}
                            {# The session.manapackages value is set in kakocase.views.set_session_data #}
                            {% if request.session.manage_drivy and perms.trade.ik_manage_drivy %}
                                <li role="presentation" class="drivy">
                                    <a href="{% url 'trade:order_list' 'drivy' %}">{% trans "Drivy" %}</a>
                                </li>
                            {% endif %}
                            {# The session.manapackages value is set in kakocase.views.set_session_data #}
                            {% if request.session.manage_packages and perms.trade.ik_manage_package %}
                                <li role="presentation" class="packages">
                                    {% url 'trade:package_list' as package_list_url %}
                                    <a href="{{ package_list_url }}">{% trans "Packages" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    {% if not settings.IS_DELIVERY_COMPANY %}
                        {% if perms.kako.ik_manage_product or perms.commarketing.ik_manage_marketing %}
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            {% if perms.kako.ik_manage_product %}
                                <li role="presentation" class="kako">
                                    {% if settings.IS_PROVIDER %}
                                        <a href="javascript:;" data-toggle="collapse" data-target="#kako" aria-expanded="true">
                                            Kako <i class="fa fa-fw fa-caret-down"></i>
                                        </a>
                                        <ul id="kako" class="nav nav-pills nav-stacked collapse" aria-expanded="true"
                                            style="padding-left: 15px">
                                            <li role="presentation"
                                                class="categories">{% url 'kako:category_list' as category_list_url %}
                                                <a href="{{ category_list_url }}">{% trans "Categories" %}</a>
                                            </li>
                                            <li role="presentation"
                                                class="products">{% url 'kako:product_list' as product_list_url %}
                                                <a href="{{ product_list_url }}">{% trans "Products" %}</a>
                                            </li>
                                        </ul>
                                    {% else %}  {# IS BANK #}
                                        <li role="presentation"
                                            class="products">{% url 'kako:product_list' as product_list_url %}
                                            <a href="{{ product_list_url }}">{% trans "Products" %}</a>
                                        </li>
                                    {% endif %}
                                </li>
                            {% endif %}
                            {% if settings.IS_PROVIDER and perms.commarketing.ik_manage_marketing %}
                                <li role="presentation" class="marketing">
                                    <a href="javascript:;" data-toggle="collapse" data-target="#marketing"
                                       aria-expanded="true" style="padding-right: 0;">
                                        {% if settings.IS_PROVIDER %}
                                            {% trans "Com & Marketing" %}
                                        {% elif settings.IS_RETAILER %}
                                            {% trans "Homepage" %}
                                        {% endif %}
                                        <i class="fa fa-fw fa-caret-down"></i>
                                    </a>
                                    <ul id="marketing" class="nav nav-pills nav-stacked collapse" aria-expanded="true"
                                        style="padding-left: 15px">
                                        <li class="smart-categories">{% url 'marketing:smart_category_list' as smart_category_list_url %}
                                            <a href="{{ smart_category_list_url }}">{% trans "Smart categories" %}</a>
                                        </li>

                                        <li class="promotion">{% url 'sales:promotion_list' as promotion_list_url %}
                                            <a href="{{ promotion_list_url }}">{% trans "Promotions" %}</a>

                                        </li>
                                        <li class="discount">{% url 'sales:promo_code_list' as Promo_code_list_url %}
                                            <a href="{{ Promo_code_list_url }}">{% trans "Coupons" %}</a>

                                        </li>
                                        <li class="emails">{% url 'sales:email_list' as email_list_url %}
                                            <a href="{{ email_list_url }}">{% trans "Emails" %}</a>

                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if perms.accesscontrol.sudo %}
                                {% url 'trade:partner_list' as partner_list_url %}
                                {% if settings.IS_PROVIDER %}
                                    <li role="presentation" class="delivery-options">
                                        {% url 'kakocase:delivery_options' as delivery_options_url %}
                                        <a href="{{ delivery_options_url }}">{% trans "Delivery Options" %}</a>
                                    </li>
                                    <li role="presentation" class="continuous-rewarding">
                                        {% url 'rewarding:configuration' as rewarding_configuration_url %}
                                        <a href="{{ rewarding_configuration_url }}" title="Continuous Rewarding">
                                            {% trans "Continuous Rewarding" %}
                                            <span class="label label-danger" style="text-transform: capitalize">New</span>
                                        </a>
                                    </li>
{#                                    <li role="presentation" class="banks">#}
{#                                        <a href="{{ partner_list_url }}" title="Partner Banks">#}
{#                                            {% trans "Banks" %}#}
{#                                            <span class="label label-danger" style="text-transform: capitalize">New</span>#}
{#                                        </a>#}
{#                                    </li>#}
                                {% endif %}
                                {% if settings.IS_BANK %}
                                    <li role="presentation" class="banks">
                                        <a href="{{ partner_list_url }}" title="Partner Merchants">
                                            {% trans "Merchants" %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        {% endif %}
                    {% endif %}
                    {% if perms.accesscontrol.sudo %}
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            {% if settings.IS_PROVIDER %}
                                <li role="presentation" class="flatpages">
                                    {% url 'ikwen:flatpage_list' as flatpage_list_url %}
                                    <a href="{{ flatpage_list_url }}">{% trans "Pages" %}</a>
                                </li>
                                <li role="presentation" class="theming">
                                    <a href="{% url 'theming:theme_list' %}">{% trans "Theming" %}</a>
                                </li>
                            {% endif %}
                            <li role="presentation" class="community">
                                {% url 'ikwen:community' as community_url %}
                                <a href="{{ community_url }}">{% trans "Community" %}</a>
                            </li>
                        </ul>
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            {% if app_modules %}
                            <li role="presentation" class="modules">
                                <a href="{% url 'ikwen:module_list' %}">
                                    {% trans "Modules" %}
                                </a>
                            </li>
                            {% endif %}
                            {% if settings.IS_PROVIDER and config.is_pro_version %}
                                <li role="presentation" class="payment-means">
                                    <a href="{% url 'billing:payment_mean_list' %}">{% trans "Payment means" %}</a>
                                </li>
                            {% endif %}
                            <li role="presentation" class="configuration">
                                {% url 'ikwen:configuration' as configuration_url %}
                                <a href="{{ configuration_url }}">{% trans "Configuration" %}</a>
                            </li>
                            <li role="presentation" class="invoices">
                                {% url 'billing:invoice_list' as invoice_list_url %}
                                <a href="{{ invoice_list_url|ikwenize }}" target="_blank">{% trans 'Invoices' %}</a>
                            </li>
                            <li role="presentation" class="service-info">
                                {% url 'ikwen:service_detail' service.id as service_detail_url%}
                                <a href="{{ service_detail_url }}">{% trans "Info & Billing" %}</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    {% endcache %}
{% endblock %}
