{% extends 'kakocase/welcome/base.html' %}
{% load i18n static humanize webdesign media_from_provider %}

{% block meta %}
    {{ block.super }}
{#    <link rel="shortcut icon" type="image/png" href="{% static "tsunami/img/favicon_Tsunami.ico" %}">#}
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ service.url }}" />
{#    <meta property="og:image" content="{% static 'tsunami/img/Logo-IKWEN-Tsunami_og.png' %}" />#}
    <meta property="og:image" content="{{ settings.IKWEN_MEDIA_URL }}{{ service.config.logo.name }}" />
{#    <meta property="og:title" content="{% trans "ikwen TSUNAMI, the cloud tools your business needs" %}"/>#}
    <meta property="og:title" content="
                        {% if request.user.is_authenticated %}
                            {% blocktrans with first_name=request.user.first_name project_name=service.project_name %}
                                Congratulations {{ first_name }}, welcome to {{ project_name }} !
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with first_name=request.user.first_name project_name=service.project_name %}
                                Thank you for joining us on {{ project_name }} !
                            {% endblocktrans %}
                        {% endif %}"/>
{#    <meta property="og:description" content="{% trans "Reach more customers and sell all your stocks with Tsunami" %}">#}
    <meta property="og:description" content="{{ service.config.description }}">
{#    <meta property="description" content="{% trans "Reach more customers and sell all your stocks with Tsunami" %}" />#}
    <meta property="description" content="{{ service.config.description }}" />
{% endblock %}

{% block page_title %}
    <title>{{ service.project_name }} - Welcome</title>
{% endblock %}

{% block head_style %}
    <link rel="shortcut icon" type="image/png" href="{{ settings.IKWEN_MEDIA_URL }}{{ service.config.logo.name }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'ikwen/css/flatly.bootstrap.min.css' %}" />
    <link rel='stylesheet' href="{% static 'kakocase/css/welcome/base.css' %}" />
    <link rel='stylesheet' href="{% static 'ikwen/swiper/css/swiper.min.css' %}" />

    <!--Conditional custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'kakocase/css/welcome/'%}other.css">
    <link rel="stylesheet" type="text/css" href="{% static 'kakocase/css/welcome/'%}{{ business_category }}.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB_Garamond">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great_Vibes">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing_Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
    <style>

        .btn-deep-blue {color: #fff;background: #007bff;border-color: #007bff;font-weight: 700;}
        .btn-deep-blue:hover {background: #006ee4;border-color: #007bff;}
        .btn-deep-blue:hover:active {background: #006ee4;border-color: #007bff;}
        .pulse:hover {-webkit-animation-name: pulse;animation-name: pulse;}
        .animated {-webkit-animation-duration: 0.5s;animation-duration: 0.5s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
        .my-cart-b {color: #1f1137; border: 2px solid #c10023}
        .my-cart-b:not(.sold-out):hover, .my-cart-b:not(.sold-out):focus, .my-cart-b:not(.sold-out):active {background: #1F1137;border-color: #2b1906;}

        body {background: none}
        #content {min-height: auto; margin-bottom: 100px; padding-top: 10px}


        #banner-header p {margin-top: 70px; font-size: 20px;}
        #banner-header h1 {font-family: 'Tangerine', serif; font-size: 40px; text-shadow: 4px 4px 4px #aaa}
        #about-service.active {padding-top: 100px;}
        .section:not(.main-section) {margin-top: 50px}
        .section .img-responsive {width: 300px; height: 300px; margin: auto}
        .main-section {margin-top: 150px}
        .description h2 {font-weight: 900}
        .description p {margin-top: 30px; line-height: 30px;}
        .anchor {font-size: 4vw; margin-top: 70px}
        .action {margin-top: 40px;}
        .action button {font-weight: 600; color: #fff; height: 40px}
        #android-only {font-size: .7em;}
        #android-only .fa-android {font-size: 1.5em}
        .main-img {width: 200px; height: auto}

        .coupon {float: left; margin: 5px 25px 15px 0; width: 180px}
        .coupon img {background: #f8f6f6; height: 240px; width: 180px}
        .coupon-name {margin: 5px 0}
        .coupon .action {border: none; color: #e74c3c; float: right; margin: -10px 5px 0 0}
        .coupon .attention {cursor: pointer; display: none}
        .coupon.PendingForApproval .attention.text-warning {display: inline-block}
        .coupon.Rejected .attention.text-danger {display: inline-block}
        .coupon-group {margin-bottom: 20px; padding: 0 15px}
        .coupon-group .title {margin: 20px 0}
        ul.coupon-list {padding: 0}
        ul.coupon-list li {display: inline-block}

        .footer { background-color: #fff;
            flex-shrink: 0;  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
            padding: 3px 0; }

        @media screen and (max-width: 767px) {
            #banner-header h1 {font-size: 50px}
            #banner-header p {font-size: 18px; text-align: justify; line-height: 30px}
            #about-service, .activate-notification, .download-app {margin-top: 80px}
            .main-img {width: 100px}
            .anchor {font-size: 12vw; margin-top: 40px}
            .img-responsive {margin-top: 20px}
            .action button {width: 100%}
            #android-only-container {text-align: center}
        }

        @media (min-width: 768px) {
            .coupon .action {visibility: hidden}
            .coupon:hover .action {visibility: visible}
            .reward-pack .coupon-group {margin-bottom: 5px}
        }

        {#ul.navbar-nav.navbar-right > li>a, ul.navbar-nav.navbar-right > li >a>i {color: #fff!important;}#}
    </style>
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/swiper/js/swiper.jquery.min.js' %}"></script>
{% endblock %}
{% block header_brand %}
{% endblock %}

{% block content %}
    <div id="content">
        <div  class="container">
            <div class="section">
                <div class="col-sm-4 col-sm-offset-1">
                    <img class="main-img" src="{% static 'kakocase/img/welcome/welcome-image.jpg' %}">
                </div>
                <div class="col-sm-7 description" id="banner-header">
                     <h1>
                        {% if request.user.is_authenticated %}
                            {% blocktrans with first_name=request.user.first_name project_name=service.project_name %}
                                Congratulations {{ first_name }}, welcome to {{ project_name }} !
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with first_name=request.user.first_name project_name=service.project_name %}
                                Thank you for joining us on {{ project_name }} !
                            {% endblocktrans %}
                        {% endif %}
                    </h1>
                    <p class="text-left">
                        {% blocktrans with project_name=service.project_name %}
                            Discover {{ project_name }}, the first Cameroonian <em>Fast and Good Food</em> that combines African culture with the international catering standards.
                        {% endblocktrans %}
    {#                        {{ welcome_speech }}#}
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="about-service" class="section">
                <div class="col-sm-6 description">
                    <h2>
                        {% blocktrans with project_name=service.project_name %}
                            What's {{ project_name }} ?
                        {% endblocktrans %}
                    </h2>
                    <p>
                        {% blocktrans with project_name=service.project_name %}
                            {{ project_name }} is the first Cameroonian <em>Fast and Good Food</em> that combines African culture with the international catering standards.
                            Our products are local and carefully chosen for your greatest pleasure.
                            Our after-sales service reassures itself of your satisfaction on a daily basis.
                            Deliveries are invoiced at 1000 FCFA.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-sm-6">
{#                    <img class="img-responsive" src="{% static 'daraja/img/buy-online.png' %}">#}
                    <img class="img-responsive" src="{% static 'kakocase/img/tchopetyamo/tchopetyamoimage1.jpg' %}">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="section">
{#                <div class="col-sm-6"></div>#}
{#                <div class="text-center">#}
{#                    <h2 style="font-weight: 900">{% trans 'Our offers' %}</h2>#}
{#                    <p style="margin-top: 30px; line-height: 30px;">#}
{#                        {% blocktrans %}#}
{#                            As a subscriber and privileged, you will receive weekly emails about our offers, our#}
{#                            promotions, our services, information on our actions, articles on wellness, culture, the environment, the#}
{#                            freedom; culinary art and restoration.#}
{#                            Make sure you always open our emails so you don't miss the boat!<br>#}
{#                            Did you know you can recommand 3 people and a promo code on one of our menus ?#}
{#                            Did you also know that you can make money by becoming our Dara?<br> Read below to learn more.#}
{#                        {% endblocktrans %}#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
                {% if dc_coupon_list %}
                    <div id="coupon" class="section">
                        <div class="col-sm-6 description">
                            <div class="coupon-group swiper-container">
                                <h5 class="title">{% trans "Discount" %}</h5>
                                <ul class="coupon-list swiper-wrapper">
                                    {% for coupon in dc_coupon_list %}
                                    <li class="swiper-slide coupon {{ coupon.status }}" id="{{ coupon.id }}" data-id="{{ coupon.id }}" data-model-name="rewarding.Coupon">
                                        <a href="{% url 'rewarding:change_coupon' coupon.id %}">
                                            <img src="{{ settings.IKWEN_MEDIA_URL }}{{ coupon.image.name }}" />
                                        </a>
                                        <p class="coupon-name">
                                            <i class="fa fa-circle attention text-warning" title="{% trans "Pending for approval" %}"></i>
                                            <i class="fa fa-circle attention text-danger" title="{% trans "Rejected" %}"></i>
                                            <a href="{% url 'rewarding:change_coupon' coupon.id %}">
                                                {{ coupon.name }}
                                            </a>
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="swiper-button-next has-shade">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="swiper-button-prev has-shade">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="clearfix"></div>
                            </div>
    {#                        <img class="img-responsive" src="{% static 'kakocase/img/coupon.jpg' %}" style="max-height: 400px;">#}
                        </div>
                        <div class="col-sm-6 description">
                            <h2>{% trans 'Coupons' %}</h2>
                            <p>
                                {% blocktrans %}
                                {% endblocktrans %}
                                {% lorem 80 w %}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
            {% if promotion_list %}
            <div class="section">
                <div class="col-sm-6 description">
                    <h2>{% trans 'Promotions' %}</h2>
                    <p>
                        {% blocktrans %}

                        {% endblocktrans %}
                        {% lorem 100 w %}
                    </p>
                    <div class="coupon-group swiper-container">
                        <h5 class="title">{% trans "Discount" %}</h5>
                        <ul class="coupon-list swiper-wrapper">
                            {% for promotion in promotion_list %}
                            <li class="swiper-slide coupon {{ promotion.status }}" id="{{ promotion.id }}" data-id="{{ promotion.id }}" data-model-name="sales.Promotion">
{#                                <a href="{% url 'rewarding:change_coupon' promotion.id %}">#}
{#                                    <img src="{{ promotion.item.photos|first }}"/>#}
{#                                    <img src="{{ settings.IKWEN_MEDIA_URL }}{{ promotion.item.image }}" />#}
                                    {% if promotion.item %}
                                        <img src="{{ promotion.item.image|from_provider:promotion.item.provider }}" />
                                    {% endif %}
{#                                </a>#}
                                <p class="coupon-name">
                                    <i class="fa fa-circle attention text-warning" title="{% trans "Pending for approval" %}"></i>
                                    <i class="fa fa-circle attention text-danger" title="{% trans "Rejected" %}"></i>
{#                                    <a href="{% url 'rewarding:change_coupon' coupon.id %}">#}
{#                                        {{ promotion.title }}#}
{#                                    </a>#}
                                    <h4>{{ promotion.title }}</h4>
                                    <strong>{{ promotion.code }}</strong>
                                    <span>{% trans 'Available until:' %}&nbsp;&nbsp;{{ promotion.end_on }}</span>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="swiper-button-next has-shade">
                            <i class="fa fa-angle-right"></i>
                        </div>
                        <div class="swiper-button-prev has-shade">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="{% static 'kakocase/img/promotion.png' %}">
                </div>
                <div class="clearfix"></div>
            </div>
            {% endif %}
            {% if promocode_list %}
            <div class="section">
                <div class="col-sm-6">
                    <img class="img-responsive" src="{% static 'kakocase/img/promotion.png' %}">
                </div>
                <div class="col-sm-6 description">
                    <h2>{% trans 'Promo codes' %}</h2>
                    <p>
                        {% blocktrans %}

                        {% endblocktrans %}
                        {% lorem 100 w %}
                    </p>
                    <div class="coupon-group swiper-container">
                        <h5 class="title">{% trans "Discount" %}</h5>
                        <ul class="coupon-list swiper-wrapper">
                            {% for promocode in promocode_list %}
                            <li class="swiper-slide coupon {{ promocode.status }}" id="{{ promocode.id }}" data-id="{{ promocode.id }}" data-model-name="sales.PromoCode">
{#                                <a href="{% url 'rewarding:change_coupon' coupon.id %}">#}
{#                                    <img src="{{ settings.IKWEN_MEDIA_URL }}{{ coupon.image.name }}" />#}
{#                                </a>#}
                                <h6>{{ promocode.code }}</h6>
                                <p class="coupon-name">
                                    <i class="fa fa-circle attention text-warning" title="{% trans "Pending for approval" %}"></i>
                                    <i class="fa fa-circle attention text-danger" title="{% trans "Rejected" %}"></i>
{#                                    <a href="{% url 'rewarding:change_coupon' coupon.id %}">#}
{#                                        {{ promocode.rate }}#}
{#                                    </a>#}
                                    <span>{{ promocode.rate }}</span>
                                    <span>{{ promocode }}</span>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="swiper-button-next has-shade">
                            <i class="fa fa-angle-right"></i>
                        </div>
                        <div class="swiper-button-prev has-shade">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endif %}
            <div class="push-subscribe activate-notification section">
                <div class="col-sm-6 description">
                    <h2>{% trans 'Activate notifications' %}</h2>
                    <p>{% lorem 20 w %}</p>
                    <div class="action">
                        <button id="activate" class="btn btn-sm btn-deep-blue animated pulse">{% trans "Activate" %}</button>
                        <button class="btn btn-sm btn-deep-blue animated pulse my-cart-b hidden">{% trans "Activate" %}</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="{% static 'kakocase/img/phone-notification.png' %}">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="install-promotion download-app section">
                <div class="col-sm-6">
                    <img class="img-responsive" src="{% static 'kakocase/img/download-app.jpg' %}">
                </div>
                <div class="col-sm-6 description">
                    <h2>{% trans 'Download app' %}</h2>
                    <p>{% lorem 20 w %}</p>
                    <p>
                        {% blocktrans %}
                            Install app on your Android device for faster access.
                        {% endblocktrans %}
                    </p>
                    <div class="action">
                        <button id="download" class="btn btn-sm btn-deep-blue animated pulse">{% trans "Download" %}</button>
                        <button class="btn btn-sm btn-deep-blue animated pulse my-cart-b hidden">{% trans "Download" %}</button>
                    </div>
                    <div id="android-only-container">
                        <span id="android-only">( Android only <i class="fab fa-android"></i> )</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            let couponSectionHeight = $('#coupon').height();
            $('#coupon .description:first').css('margin-top', couponSectionHeight/2);
            $('.js-scrollTo').click(() => {
               $('#about-service').addClass('active');
            });
        })()
    </script>
{% endblock %}