{% extends 'com/base.html' %}
{% load i18n static %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "kakocase/img/tsunami/favicon_Tsunami.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/tsunami/" />
    <meta property="og:image" content="{% static 'kakocase/img/tsunami/Logo-IKWEN-Tsunami_og.png' %}" />
    <meta property="og:title" content="{% trans "ikwen TSUNAMI, the cloud tools your business needs" %}"/>
    <meta property="og:description" content="{% trans "Reach more csustomers and sell all your stocks with Tsunami" %}">
    <meta property="description" content="{% trans "Reach more csustomers and sell all your stocks with Tsunami" %}" />
{% endblock %}

{% block page_title %}
    <title>Tsunami - How to</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'ikwen/css/console.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kakocase/css/tsunami/tsunami_how_to.css' %}">
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static "kakocase/img/tsunami/logo_ikwen_web_header.png" %}"/>
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block content %}
    {% url 'billing:invoice_detail' invoice.id as invoice_url %}
    <body style="background-color: #f8f9fa">
		<div id="section-header-general-view" class="container-fluid section-header">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 mobile-adjust" style="padding-top: 20vh">
					<div class="media">
						<div class="pull-left">
							<img src="{% static 'kakocase/img/tsunami/Logo-IKWEN-Tsunami.png' %}" class="media-object" style="max-width: 110px" alt="Sample Image"/>
						</div>
						<div class="media-body ">
                        {% blocktrans with client_name=new_service.member.first_name service_url=new_service.url %}
							<h1 class="media-heading">Congratulations {{client_name}} !</h1>
							<h4 class="mobile-adjust"> You're now the owner of TSUNAMI platform, availaible at <a href="{{ service_url }}"> {{ service_url }}</a>.
								Discover all what you can do with this awesome Cloud tool. Take your business to the next level.
                            </h4>
                            <p class="bill-link">Your invoice is available, pay now and get your <span class="animated infinite pulse" style="color: #ef7000">support code.</span></p>
                            <a href="{{ invoice_url }}" target="_blank" class="btn btn-outline-primary mobile-adjust" style="min-width: 200px;">Pay now</a>
						{% endblocktrans %}
                        </div>
					</div>
				</div>
			</div>
		</div>

		<div id="section-header-iPad-view" class="container-fluid section-header" style="display: none;">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 mobile-adjust" style="padding-top: 20vh">
					<div class="media">
						<div class="pull-left">
							<img src="{% static 'kakocase/img/tsunami/Logo-IKWEN-Tsunami.png' %}" class="media-object" style="max-width: 110px" alt="Sample Image"/>
						</div>
						<div class="media-body">
                        {% blocktrans with client_name=service.member.first_name service_url=service.url %}
							<h2 class="media-heading">Congratulations {{client_name}} !</h2>
							<h4 class="mobile-adjust"> You're now the owner of TSUNAMI platform, availaible at <a href="{{ service_url }}"> {{ service_url }}</a>.
								Discover all what you can do with this awesome Cloud tool. Take your business to the next level.
                            </h4>
                            <p class="bill-link">Your invoice is available, pay now and get your <span class="animated infinite pulse" style="color: #ef7000">support code.</span></p>
                            <a href="{{ invoice_url }}" target="_blank" class="btn btn-outline-primary mobile-adjust" style="min-width: 200px;"> Payer</a>
						{% endblocktrans %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="features-top" class="container">
			<div class="col-md-12 col-md-offset-1 mobile-adjust fisrt">
				<div class="row row-custom" style="padding-top: 5vh">
					<div class="col-md-6 section-features-text second-on-mobile">
						<h2 class="mobile-adjust" style="font-size: 1.6vw">{% trans "Your customer relationship fully automated!" %}</h2>
						<p class="mobile-adjust">
                            {% blocktrans %}
                                Clients are just everywhere you know... Get them registered efficiently with TSUNAMI and let it take care of the rest.
                                Invite people to <em>join</em> your community now by sharing your link.
                            {% endblocktrans %}
						</p>
						<span style=" color: #319dd5; cursor: pointer; font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link" data-toggle="modal" data-target="#modal-refer-now">{% trans "Share my link" %} <i class="fa fa-arrow-circle-right animated slideInLeft"></i></span>

					</div>
					<div class="col-md-6 col-sm-6 first-on-mobile">
						<img class="img-features" alt="img_client_list_exploitation" src="{% static 'kakocase/img/tsunami/fully_automated.png' %}" />
					</div>
				</div>
				<div class="row row-custom" style="padding-top: 5vh">
					<div class="col-md-6 section-features-text second-on-mobile">
						<h2 class="mobile-adjust" style="font-size: 1.6vw">Inbound marketing : {% trans "attract customer to you!" %}.</h2>
                    {% blocktrans %}
						<p class="mobile-adjust">
                            No more blind and ineffective marketing campaigns, now your prospects and customers have 100 reasons to come, stay and bring people to you.
                            TSUNAMI gives you the possibility to offer everybody free collectible coupons. They'll rush to register in your CCM*
						</p>
						<a href="http://blog.ikwen.com/about-continuous-rewarding/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link"> Read more about coupons &nbsp;<i class="fa fa-arrow-circle-right animated slideInLeft"></i></a>
					{% endblocktrans %}
                    </div>
					<div class="col-md-6 col-sm-6 first-on-mobile">
						<img class="img-features" alt="img_inbound_marketing" src="{% static 'kakocase/img/tsunami/inbound_marketing.png' %}" />
					</div>
				</div>
				<div class="row row-custom" style="padding-top: 5vh">
					<div class="col-md-6 section-features-text second-on-mobile">
						<h2 class="mobile-adjust" style="font-size: 1.6vw">{% trans "Conquer World market today!" %}</h2>
						<p class="mobile-adjust">
                            {% blocktrans %}
                                You can start selling online now. Get paid via Mobile money. Your business work 24/7,
                                and customers can buy from you immediately after they receive your automated offers sent by TSUNAMI via Emails and SMS.
                            {% endblocktrans %}

						</p>
						<a href="{{ new_service.url }}/kako/products/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans "Publish your products" %}&nbsp;<i class="fa fa-arrow-circle-right animated slideInLeft"></i></a>
					</div>
					<div class="col-md-6 col-sm-6 first-on-mobile">
						<img class="img-features" alt="img_client_list_exploitation" src="{% static 'kakocase/img/tsunami/glogal-market.png' %}" />
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row section-banniere">
				<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 3vh">
				  	<h1>
						{% trans "Need help ?" %}
					</h1>
					<h3>
						{% trans "Contact us" %}
					</h3>
					<div>
						<h4 class="contact-address">
							<i class="fab fa-whatsapp"></i> &nbsp;(+237) 656 123 522 <br>
							<i class="fas fa-envelope"></i> &nbsp;suport@ikwen.com
						</h4>
					</div>

				</div>
			</div>
		</div>
	</body>

    {#    Modal declaration : BEGIN #}

    <div class="modal fade" id="whatsapp-share" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Share on WhatsApp" %}</h4>
                </div>
                <div class="modal-body text-center">
                    <form onclick="return false" class="form-horizontal">
                        <div class="form-group row">
                            <label for="whatsapp-share-msg" class="col-sm-5 col-md-4">{% trans "Message" %}</label>
                            <div class="col-sm-7 col-md-8">
                                <textarea id="whatsapp-share-msg"
                                          class="form-control input-sm">{% blocktrans %}Hey! Join {{ service.project_name_slug }} on ikwen and get some free gifts. I just did it. It works !{% endblocktrans %}</textarea>
                            </div>
                        </div>
                    </form>
                    <div class="actions">
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                            <button class="btn btn-success btn-block btn-sm ok"
                                    data-dismiss="modal" aria-label="OK">OK</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-refer-now" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info" style="background: url({% static 'kakocase/img/tsunami/refer-now.png' %}")>
                <div class="modal-header no-border" style="padding-bottom: 0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: #fff">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 0">
                    <div class="speech text-center" style="color: #fff; margin: 90px 0 30px">
                        {% blocktrans %}
                            <h3 style="">Share now !</h3>
                            <p>And get many people to JOIN your community</p>
                        {% endblocktrans %}
                    </div>
                    <ul class="social" style="padding: 0">
                        <li data-dismiss="modal">
                            <a href="javascript:;" data-toggle="modal" data-target="#whatsapp-share"
                               class="wsap-link" data-url="{{ url }}">
                                <i class="fab fa-whatsapp"></i>
                                <span class="sr-only">WhatsApp</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/sharer/sharer.php?u=http://ikwen.com/?join={{ new_service.project_name_slug }}"
                               class="fb-link" target="_blank">
                                <i class="fab fa-facebook"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/home?status=http://ikwen.com/?join={{ new_service.project_name_slug }}"
                               class="twtr-link" target="_blank">
                                <i class="fab fa-twitter"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {#    Modal declaration : END #}

{% endblock %}
