/**
	Document   : admin.css
	Created on : Nov 28, 2017, 13:58
	Author     : Roddy Mbogning
	Contributor     : W1773ND (wilfriedwillend@gmail.com)
	Description:
		Additional rules for kakocase cart page
*/

h1, h2, h3, h4, h5, h6 {color: #1f1137;}
.header-xs {background: #1f1537;}
/*.nav-xs .swiper-slide {background: #1f1137;}*/
.header-bottom, .header-bottom.fixed {color: #1F1137;}
.header-bottom.fixed #auth.top-right .fa {color: #1f1137;}
.header-bottom.fixed #auth.top-right a:not(.dropdown-menu a) {color: #FFF}
.header-bottom a, .header-bottom>h1, .header-bottom h5 {color: #1f1137;}
.footer-w3l {}
.copy-section {background: #1F1137;}
.footer-grid i {border: 1px solid #f0eded;}
.latest-text {background: rgba(48, 2, 2, 0.65);}
.my-cart-b {color: #1f1137; border: 2px solid #c10023}
.my-cart-b:not(.sold-out):hover, .my-cart-b:not(.sold-out):focus, .my-cart-b:not(.sold-out):active {background: #1F1137;border-color: #2b1906;}
em.item_price {color: #1f1137;}
.price h3, .top-rates h3, .brand-w3l h3 {border-bottom: 1px solid #2e1063; color: #1f1137;}
p.price {color: #c10023;}
.product-about h6 a {color: #1F1137;}
span.price-in1 {color: #140320;}
.navbar-nav > li > a:hover {color: #ebf0e9;}
.left-tab > li > a {background: #3e1843;}
.left-tab > li.active > a, .left-tab > li.active > a:hover, .left-tab > li.active > a:focus {background-color: #1f2143;}
#reviews input[type="submit"] {background: #291705; font-weight: 700}
.footer-grid i {color: #1f1137;border: 1px solid transparent;}
.navbar-nav > li > a:hover {color: #1b0d27;}
ul.dropdown-menu.user-menu  li{color:  #1f1137}
.footer-grid ul li a {color: #1F1137}
@media (min-width: 768px){
    .modal .product-about .product-price em {color: #291705;}
    .toggle-cd-search .fa {color: #1f1137;}
}
@media (min-width: 992px){
    .modal .product-about .product-price em {color: #291705;}
    .toggle-cd-search .fa {color: #1f1137;}
}