

a.btn { min-width: 200px !important; }
.btn-outline-primary { color: #007bff; background-color: transparent; background-image: none; border-color: #007bff; }
.btn-outline-primary:hover { color: #fff; background-color: #007bff; border-color: #007bff; }
.btn-outline-primary:focus, .btn-outline-primary.focus { box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.card-section-title { /*padding-bottom: 2vh !important;*/ }
.subtitle { color: #5a5a5a !important;/* padding-bottom: 2vh !important;*/; /*padding-top: 4.5vh*/ }
.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }

.toggle-handle { background-color: #fff; }

.row-card-section { align-items: center; display: flex; }

.welcome-subtitle { color: #5a5a5a; }


/* Media query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .row-card-section { display: block !important; text-align: center !important; }

    .subtitle { font-size: 4vw; padding: 3vh 0; text-align: left !important;}

    .welcome-subtitle { font-size: 4.5vw; }
}

/* Landscape optimisation */
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .landscape-optimisation { display: block !important; height: 15vh }
}


/* iPad pro optimisation */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

    .welcome-title { font-size: 3vw; }
    .welcome-subtitle { font-size: 2.5vw }

    .card-section-title { font-size: 2vw; }

    .subtitle { font-size: 1.5vw; }
}