/**
    Document   : admin.css
    Created on : April 10, 2017, 20:42
    Author     : Kom Sihon
    Description:
        Additional rules for kakocase specific admin objects
*/

#object-detail .content .col-xs-6 {padding: 0 5px}
.order-details .ik-li:last-child, .package-details .ik-li:last-child {border-bottom: none; margin-bottom: 15px}
.show-results-filter {background: none; color: #545454}
.btn.show-results-filter:hover, .btn.show-results-filter:active, .btn.show-results-filter.active {background: none; color: #545454}
.order-summary {border: 1px solid #eee;clear: both;margin-top: .5em;padding: 10px;}
.order-summary h4 {font-size: 1em; font-weight: 700; margin-bottom: .2em}
.delivery-report {background: #f8f9f9; margin-top: .5em; padding: 10px}
.order .about p {margin-bottom: 0}
.order.pending .name, .order.pending .items, .order.pendingforapproval .name, .order.pendingforapproval .items {font-weight: 700}
.order.pending .items {color: #4d4d4d}
.order .meta {margin-right: 10px;float: left;}
.order .account-number {color: #888; font-weight: 400}
.order .glyphicon.status {font-weight: 400;float: right;clear: right;margin-top: 2px;}
.category.appear-in-menu .content {border-color: #ff8d00}

.item-preview .about .currency {float: left}
.item-preview .about .value {color: #444; float: left; margin-left: 5px}

@media (max-width: 767px) {
    .btn.show-results-filter:hover, .btn.show-results-filter:active, .btn.show-results-filter.active {box-shadow: none}
}