{% load i18n static auth_tokens %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        {% include 'core/snippets/favicon.html' %}
        {% block page_title %}{% endblock %}
        {% block head_style %}
            <link href="{% static 'webnode/css/bootstrap.min.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'kakocase/css/font-awesome/css/font-awesome.min.css' %}" />
            <link href="{% static 'webnode/css/prettyPhoto.css' %}" rel="stylesheet">
            <link href="{% static 'webnode/css/animate.min.css' %}" rel="stylesheet">
            <link href="{% static 'kakocase/css/tchopetyamo/main.css' %}" rel="stylesheet">
            <link href="{% static 'webnode/css/improve/main.css' %}" rel="stylesheet">
            <link href="{% static 'webnode/css/responsive.css' %}" rel="stylesheet">
            <link href="{% static 'kakocase/css/edge-pannel.css' %}" rel="stylesheet">
            <link href="{% static 'kakocase/css/tchopetyamo/base.css' %}" rel="stylesheet">
            <link href="{% static 'ikwen/css/console.css' %}" rel="stylesheet">
{#            <link href="{% static 'ikwen/css/base.css' %}" rel="stylesheet">#}

            <link rel="stylesheet" href="{% static 'kakocase/swiper/css/swiper.min.css' %}">
            <link rel="stylesheet" href="{% static 'kakocase/css/optimum.css' %}" type="text/css" media="all" />
{#            <link href="{% static 'webnode/css/improve/base.css' %}" rel="stylesheet">#}
            <link href="{% static 'webnode/css/tchopetyamo/yamo.css' %}" rel="stylesheet">
{#            <link href="{% static 'webnode/css/optimum/dark-green.css' %}" rel="stylesheet">#}
{#            {% if config.theme %}#}
{#                {% with theme=config.theme %}#}
{#                    <link rel='stylesheet' href="{% static 'webnode/themes/' %}{{ theme.template.slug }}/{{ theme.slug }}.css" />#}
{#                {% endwith %}#}
{#            {% endif %}#}
        {% endblock %}
        {% block head_js %}
            <!--[if lt IE 9]>
            <script src="{% static 'webnode/js/html5shiv.js' %}"></script>
            <script src="{% static 'webnode/js/respond.min.js' %}"></script>
            <![endif]-->
        {% endblock %}
    <style>
        .header-xs {background: #5f0000;    color: #fff;height: 45px; padding-top: 2px;position: fixed; transition-property: all; transition-duration: .2s; top: 0; transition-timing-function: cubic-bezier(0, 1, 0.5, 1); width: 100%; z-index: 20}

        .left-content {overflow: hidden; width: 45%}
        .header-xs button {float: left; margin: 4px 0 0 -1px;}
        .header-xs h3 {color: #fff; float: left; font-size: 25px;margin-top: 8px;width: 54%; overflow: hidden;}
        .xs-nav-container {float: left;}
        .button-hover-handler {float: left;margin-left: 5px;height: 35px; width: 35px; border-radius: 20px; margin-top: 3px;}
        .header-xs a {color: #fff;}
        .header-xs .icon-bar {background: #fff;}
        .header-xs .fa {font-size: 20px; margin-left: 8px; margin-top: 9px;}
        #side-nav {background: #fff; left: 0; max-width: 300px; overflow: auto; position: fixed; height: 100%; width: 90%; top: 0; z-index: 10; display: none;}
        .top-edge-panel {max-width: 300px; position: fixed; width: 90%;}
        #side-nav .panel-top {background-size: cover; float: left; height: 200px; width: 100%;}
        #side-nav .panel-top .cover {background: rgba(0, 0, 0, 0.52); height: 200px; padding: 10px; width: 100%;}
        #side-nav .panel-top .cover .company .logo a {color: #FFF; float: left;}
        .mob-company {color: #fff;float: right;overflow: hidden; width: 70%;}
        .mob-logo-img {background-size: contain; background-repeat: no-repeat; max-height: 50px; max-width: 150px; width: 60px; float: left; height: 60px;}
        #side-nav .panel-top .cover .company .name {color: #FFF; float: left; margin: 17px 15px 0 20px;}
        #side-nav .panel-top .cover .location {color: #FFF; clear: both; float: left; margin-top: 15px;}
        #side-nav .panel-top .cover .location > div {margin-top: 7px;}
        .location div i {margin-right: 10px;}
        #side-nav .nav-stacked {clear: both; float: left; padding-top: 15px; width: 100%; margin-top: 199px;}
        #side-nav .nav-stacked li a {font-weight: 700; color: #5f0000; font-size: 14px;}
        .social-icon i {color: #5f0000; font-size: 30px;}
        .nav-xs.appear {
            z-index: 10;}
        @media (max-width: 767px){
            #side-nav .panel-top .cover .company .name {float: right;}
            .bottom-cntr {position: absolute; margin-top: 160px; right: 10px;}
            .social-icon {margin-top: 1.8em; padding-left: 15px;}
            .header-xs h3.app-name a {width: 300%; float: left;}
        }

    </style>
    </head><!--/head-->


    <body>
        <div class="header-top hidden-xs">
            <div class="container">
                <div class="top-left">
                    {% if config.contact_phone %}
                        <strong>{% trans "Call" %}</strong>
                        <i class="fa fa-mobile" aria-hidden="true" style="font-size: 23px; margin-top: 2px"></i>
                        <a href="tel://{{ config.contact_phone }}">{{ config.contact_phone }}</a>
                    {% endif %}
                </div>

                <div class="top-right" style="font-size: 25px;">
                    {% if config.facebook_link %}
                        <a href="{{ config.facebook_link }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    {% endif %}
                    {% if config.twitter_link %}<a href="{{ config.twitter_link }}" target="_blank"><i
                            class="fa fa-twitter-square"></i></a>{% endif %}
                </div>
                {% include 'shopping/snippets/language_switcher.html' %}
                {% if config.can_manage_currencies %}
                    {% include 'shopping/snippets/currency_switcher.html' %}
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
        <header id="header" class="hidden-xs">
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            {% if config.contact_phone %}<div class="top-number"><p><i class="fa fa-phone-square"></i> {{ config.contact_phone  }}</p></div>{% endif %}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                           <div class="social">
                                <ul class="social-share">
                                    {% if config.facebook_link %}
                                    <li><a href="{{ config.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    {% endif %}
                                    {% if config.twitter_link %}
                                    <li><a href="{{ config.twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if config.google_plus_link %}
                                    <li><a href="{{ config.linkedin_link }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    {% endif %}
                                </ul>
                           </div>
                        </div>
                    </div>
                </div><!--/.container-->
            </div><!--/.top-bar-->

            <div class="header-bottom">
                <div class="container">
                    <div class="logo-nav">
                        <div class="logo-nav-left">
                            {% url 'webnode:home' as home_url %}
                            <h1>
                                <a href="{{ home_url }}" class="hidden-xs">
                                    {% if config.theme.logo.name %}
                                        <div class="company-logo-container">
                                            <img src="{{ config.theme.logo.url }}" alt="Logo {{ service.project_name }}"/>
                                        </div>
                                    {% else %}
                                       <span>{{ service.project_name }}</span>
                                    {% endif %}
                                {% if config.slogan %}<span class="slogan" title="{{ config.slogan }}"><div style="float: left; width: 500%">{{ config.slogan }}</div></span>{% endif %}
                                </a>
                                <a class="visible-xs">
                                    {% if config.theme.logo.name %}
                                        <img src="{{ config.theme.logo.url }}" alt="Logo {{ service.project_name }}"/>
                                    {% else %}
                                        <span>{{ service.project_name }}</span>
                                    {% endif %}
                                {% if config.slogan %}<span class="slogan" title="{{ config.slogan }}"><div style="float: left; width: 500%">{{ config.slogan }}</div></span>{% endif %}
                                </a>
                            </h1>
                        </div>
                        <div class="header-right2">
                            <ul class="nav navbar-nav navbar-right">
                            {% if not user.is_authenticated %}
                                <li class="hidden-xs" style="margin-right: 1vw;"><a href="{% url 'ikwen:sign_in' %}">
                                    <button class="btn-sm" style="background: #a40009; border: #a40009; color: #fff; font-size: 15px; font-weight: 600 ">{% trans "Login" %}</button>
                                </a></li>
                                <li class="visible-xs"><a href="{% url 'ikwen:sign_in' %}">{% trans "Login" %}</a></li>
                            {% else %}

                                <div class="action dropdown" style="float: right; margin-right: 2vw; width: 20px">
                                        <a class="dropdown-toggle" data-toggle="dropdown" id="user-menu" aria-haspopup="true" aria-expanded="true">
                                            <div class="button-hover-handler"><i class="fa fa-user" style=" margin-left: 11px; margin-top: 3px; font-size: 25px"></i></div>
                                        </a>
                                    <ul class="user-menu dropdown-menu" aria-labelledby="user-menu" style="left: -120px">
                                        <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                        <li role="separator" class="divider"></li>
                                        {% if user.is_staff %}
                                            <li>
                                                <a href="{% url 'ikwen:staff_router' %}">Admin</a>
                                            </li>
                                        {% endif %}
                                        <li>{% url "ikwen:account_setup" as account_setup_url %}
                                            <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                        </li>
                                        <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="container" style="">
                    <nav class="navbar">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header nav_2 visible-xs visible-sm">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="nav-container">
                            <h3><ul class="nav navbar-nav" style="float: none; margin: auto; width: 500px">
                            <li>
                                <a href="#">{% trans "Notre carte" %}</a>
                            </li>
                            {% for menu in menu_list %}
                                {% if menu.appear_in_menu %}
                                    <li class="{{ menu.slug }}">
                                        {% if menu.content_type == 'FlatPage'  %}
                                            {% if menu.description %}
                                                <a href="{% url 'flatpage' menu.description %}">{% trans menu.title %}</a>
                                            {% endif %}
                                        {% elif menu.content_type == 'ItemList' %}
                                            <a href="{% url 'webnode:item_list' menu.slug %}">{% trans menu.title %}</a>
                                        {% elif menu.content_type == 'Module' %}
                                            <a href="{% url menu.module.url_name %}">{% trans menu.title %}</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul></h3>
                        </div>
                    </nav>
                </div>
                <div class="clearfix"> </div>
            </div>

        <div class="header-xs visible-xs visible-sm">
            <div class="container-fluid">
                <div class="pull-left left-content">
                    <button type="button" class="navbar-toggle menu-button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h3 class="app-name">
                        <a>{{ service.project_name }}</a>
                    </h3>
                </div>
                <div class="pull-right" style="margin-right: 6px;">

                    <div class="xs-nav-container">
                        <div class="button-hover-handler">
                            <a class="toggle-menu-appearance action" id="toggle-menu-xs-appearance" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-th-large"></i>
                            </a>
                        </div>


                        {% if user.is_authenticated %}
                            <div class="button-hover-handler">
                                <a class="action" href="{{ settings.IKWEN_CONSOLE_URL }}">
                                    {% if user.get_notice_count > 0 %}
                                        <span class="badge badge-danger">{{ user.get_notice_count }}</span>
                                    {% endif %}
                                    <i class="fa fa-bell"></i>
                                </a>
                            </div>
                            <div class="action dropdown" style="float: right; width: 20px">
                                    <a class="dropdown-toggle" data-toggle="dropdown" id="user-menu" aria-haspopup="true" aria-expanded="true">
                                        <div class="button-hover-handler"><i class="fa fa-user" style=" margin-left: 11px;"></i></div>
                                    </a>


                                <ul class="user-menu dropdown-menu" aria-labelledby="user-menu" style="left: -120px">
                                    <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                    <li role="separator" class="divider"></li>
                                    {% if user.is_staff %}
                                        <li>
                                            <a href="{% url 'ikwen:staff_router' %}">Admin</a>
                                        </li>
                                    {% endif %}
                                    <li>{% url "ikwen:account_setup" as account_setup_url %}
                                        <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                    </li>
                                    <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="button-hover-handler">
                                <a class="action" href="{% url 'ikwen:sign_in' %}">
                                    <i class="fa fa-user-circle" style="margin-right: 0"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% block page_content %}

        {% endblock %}

        <section id="bottom" style="padding: 1em;">
            <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget">
                            <h3>{{ service.project_name }}</h3>
                            <ul>
				                <li><a href="{% url 'shopping:home' %}">{% trans 'Order now' %}</a></li>
                            	<li><a href="{% url 'blog:home' %}">Blog</a></li>
                                {% if config.allow_shopping and config.show_prices %}
                                    <li><a href="{% url 'shopping:cart' %}">{% trans "Checkout" %}</a></li>
                                {% endif %}
                            {% if user.is_authenticated %}
                                <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a></li>
                                {% if user.is_staff %}
                                    <li><a href="{% url "items:item_list" %}">{% trans "Admin Panel" %}</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="{% url 'ikwen:sign_in' %}">{% trans 'Login' %}</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div><!--/.col-md-3-->


                    <div class="col-sm-4">
                        <div class="widget">
                            <h3>{% trans 'About' %}</h3>
                            <ul>
                                 {% if config.address %}<li><a href="#">{{ config.short_description }}</a></li>{% endif %}

                            <div class="social-icon">
                                {% if config.facebook_link %}
                                    <a href="{{ config.facebook_link }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                                {% endif %}
                                {% if config.instagram_link %}<a href="{{ config.instagram_link }}" target="_blank"><i
                                        class="fa fa-instagram"></i></a>{% endif %}
                                {% if config.twitter_link %}<a href="{{ config.twitter_link }}" target="_blank"><i
                                        class="fa fa-twitter-square"></i></a>{% endif %}
                                {% if config.google_plus_link %}
                                    <a href="{{ config.google_plus_link }}" target="_blank"><i
                                            class="fa fa-google-plus-square"></i></a>{% endif %}
                                {% if config.linkedin_link %}<a href="{{ config.linkedin_link }}" target="_blank"><i
                                        class="fa fa-linkedin-square"></i></a>{% endif %}
                            </div>

                            </ul>
                        </div>
                    </div><!--/.col-md-3-->


                    <div class="col-sm-4">
                        <div class="widget">
                            <h3>{% trans 'Contact' %}</h3>
                            <ul>
    {#                            {% if config.address %}<li><i class="fa fa-map-marker"></i> {{ config.address  }}</li>{% endif %}#}
                                {% if config.contact_phone %}<li><i class="fa fa-phone-square"></i> {{ config.contact_phone  }}</li>{% endif %}
                                {% if config.contact_email %}<li><i class="fa fa-envelope"></i> {{ config.contact_email  }}</li>{% endif %}
                                {% if config.address %}<li><i class="fa fa-globe"></i> {{ config.address  }}</li>{% endif %}
                            </ul>
                        </div>
                    </div><!--/.col-md-3-->
                </div>
            </div>
        </section><!--/#bottom-->

        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>&copy; {{ year }} <a href="{{ service.url }}" style="color: #666; text-decoration: none"><strong>{{ config.company_name }}</strong></a>.
                                <span>{% trans "All rights reserved" %}</span>
                                - <a href="{{ settings.LEGAL_MENTIONS_URL }}" style="color: #666; text-decoration: none">{% trans "Legal mentions" %}</a>
                            </p>
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right">
                                {% for page in flat_pages %}
                                    <li><a href="{% url 'flatpage' page.url %}">{{ page.title }}</a></li>
                                {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->

        <div class="visible-xs nav-xs">
            <!-- Additional required wrapper -->
            <div class="xs-swiper-container">
                <ul class="nav swiper-wrapper">
                    {% for smart_category in smart_categories_level2 %}
                         <li class="swiper-slide level2"><a
                                href="{% url 'shopping:smart_object_detail' smart_category.slug %}">{{ smart_category.title | truncatechars:14  }}</a>
                         </li>
                    {% endfor %}
                    {% for smart_category in smart_categories_level1 %}
                        <li class="swiper-slide level1">
                            <a href="{% url 'shopping:smart_object_detail' smart_category.slug %}">{{ smart_category.title | truncatechars:14  }}</a>
                        </li>
                    {% endfor %}
                    {% for category in menu_categories %}
                        <li class="swiper-slide">
                             <a href="{% url 'shopping:product_list' category.slug %}">{{ category.name | truncatechars:14 }}</a>
                        </li>
                    {% endfor %}
                    {% for category in quick_access_categories %}
                         <li class="swiper-slide">
                             <a href="{% url 'shopping:product_list' category.slug %}">{{ category.name | truncatechars:14 }}</a>
                         </li>
                    {% endfor %}
                </ul>
            {% if config.can_manage_currencies %}
                {% include 'shopping/snippets/currency_switcher.html' %}
            {% endif %}
            </div>
        </div>

        {% include 'tchopetyamo/webnode/snippets/edge_panel.html' %}
        <div class="edge-swipe-overlay"></div>
        {% block js %}
            <script src="{% static 'webnode/js/jquery.js' %}"></script>
            <script src="{% static 'kakocase/swiper/js/swiper.min.js' %}"></script>
            <script src="{% static 'webnode/js/jquery.prettyPhoto.js' %}"></script>
            <script src="{% static 'webnode/js/jquery.isotope.min.js' %}"></script>
            <script src="{% static 'webnode/js/main.js' %}"></script>
            <script src="{% static 'webnode/js/wow.min.js' %}"></script>
            <script src="{% static 'ikwen/hammerjs/hammer.min.js' %}"></script>
            <script src="{% static 'ikwen/hammerjs/jquery.hammer.js' %}"></script>

            <script src="{% static 'ikwen/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'ikwen/js/ikwen-util.js' %}"></script>

            <script>
            (function() {
                    if ($(window).width() < 992) {
                        $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay')
                    }
                    $( window ).resize(ikwen.debouncer(function (e) {
                        var winWidth = $(window).width();
                        if (winWidth >= 992) {
                            $('.edge-panel-left').removeClass('has-shade').appendTo('.edge-panel-left-container').show();
                        } else {
                            $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay');
                        }
                    }));
                    $('body').on('click', '#toggle-menu-xs-appearance', function () {
                    reInitTopComponent();
                    $('.nav-xs').toggleClass('appear')
                });


                function reInitTopComponent() {
                    $('.header-xs .nav-xs').removeClass('appear');
                    $('.header-xs .cd-search-trigger').removeClass('search-is-visible');
                    $('.header-xs .cd-search').removeClass('is-visible');
                    $('.header-xs .action.dropdown').removeClass('open')
                }
                 var couponSwiper = new Swiper('#coupons .swiper-container', {
                slidesPerView: 'auto',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev'
            });
                var headerTopH = $('.header-top').height(),
                        headerBottomH = $('.header-bottom').height(),
                        lastScrollTop = 0;
                $(window).scroll(function (e) {
                    var winWidth = $(window).width();
                    var scrollTop = $(this).scrollTop();
                    $('.toggle-cd-search .open').css('display', 'block');
                    $('.toggle-cd-search .close2').css('display', 'none');
                    $('.cd-search').removeClass('is-visible').removeClass('reveal');
                    if (winWidth < 1000)  $('.cd-search').removeClass('.reveal');

                    if (scrollTop > headerTopH + headerBottomH) {
                        $('.header-bottom:not(.fixed)').addClass('fixed').animate({top: 0});
                        $('.toggle-cd-search').addClass('is_active');
                        $('#auth').remove().prependTo('.header-right2')
                    } else {
                        $('.header-bottom.fixed').removeClass('fixed');
                        $('.toggle-cd-search').removeClass('is_active');
                        $('.cd-search input').val('');
                        $('.cd-search').removeClass('is-visible').removeClass('reveal');
                        $('#auth').remove().insertAfter('.top-left')
                    }

                    if (winWidth < 768) {
                        var st = window.pageYOffset +1 || document.documentElement.scrollTop;
                        if (st  > lastScrollTop ){
                            if(!($(".header-xs").hasClass('is-up'))){
                                $(".header-xs").addClass('is-up');
                                $('.nav-xs').removeClass('appear');
                                $('.cd-search-trigger').removeClass('search-is-visible');
                                $('.cd-search').removeClass('is-visible').removeClass('reveal')
                            }
                        } else {
                            if($(".header-xs").hasClass('is-up')){
                                $(".header-xs").removeClass('is-up');
                                $('.nav-xs').removeClass('appear');
                                $('.cd-search-trigger').removeClass('search-is-visible');
                                $('.cd-search').removeClass('is-visible').removeClass('reveal')
                            }
                        }
                           lastScrollTop = st;
                    }
                });

            })()
            </script>
        {% endblock %}
    </body>
</html>